[2021-08-07 21:09] iam-py-test opened #244 "Scam"
## Which entry/entries are you submitting?

[code]

## Which things do they block, hide, or unbreak?

This blocks a website which claims to have Roblox cheats but just uses that to trick users, plus it's friends.
(all urls - [could_be_mal.txt](https://github.com/DandelionSprout/adfilt/files/6949810/could_be_mal.txt))

When I tried to download one of the cheats (in a VM of course), I got this: <br>

[2021-08-08 13:36] iam-py-test opened #245 "Broken link?"
https://github.com/DandelionSprout/adfilt/blob/25604dbb13f1f2f697c14b0926bd68ca7e218e77/AdRemovalListForUnusualAds.txt#L38
returns a 404 when visited for a unknown reason.

[2021-08-08 18:58] DandelionSprout commented on #245
I can only presume that the latter issue report was completely deleted by its repo owners. I'll modify that line now.

[2021-08-08 18:59] DandelionSprout commented on #245
Which I've done now in https://github.com/DandelionSprout/adfilt/commit/42f552a8fbfec33d7040e43028116fc347302dc6

[2021-08-08 18:59] #245 closed

[2021-08-08 19:04] #244 closed

[2021-08-08 19:07] DandelionSprout commented on #243
I sadly don't think this one is physically possible to bypass, since the video's play button leads directly to the login page.

[2021-08-08 19:07] #243 closed

[2021-08-08 19:11] DandelionSprout commented on #242
After I successfully added Phishing Filter, I stumbled across at least one problem with its IP entries: https://gitlab.com/curben/phishing-filter/-/issues/9 (although I have added a whitelist entry in Falukorv List in the meantime).

Since I'll head out on vacation on Tuesday or Wednesday, which'll make it 30 times harder for me to look into AdGuard Home logs, I lack the time and energy needed to

[2021-08-08 19:11] #242 closed

[2021-08-08 19:16] DandelionSprout commented on #197
Having looked up https://github.com/DandelionSprout/adfilt/issues/197#issuecomment-891182396 a few days late and figured out that the example page was `https://www.facebook.com/kimcartoonfp`, I ***finally*** see why no one were able to see this before: I didn't know it was physically possible to browse the `www.` version of Facebook on an Android phone.

I can now replicate the problem and then so

[2021-08-08 19:39] #197 closed

[2021-08-08 19:39] DandelionSprout commented on #197
Considering I am unable to load past the first post on the page in question, I can only vaguely presume that the fix I did above is the best I can do for now.

[2021-08-08 19:42] DandelionSprout commented on #176
If there had been a general total failure to load the Twitter logged-on userfeed, I can only presume that people would've told me about it after Dandelion Sprout's Annoyances List became an included opt-in list in most AdGuard products.

As I/we have yet to hear of such stories, and with my vacation coming up in 1½ days, I'll declare this a cold case for now.

[2021-08-08 19:42] #176 closed

[2021-08-08 20:09] chirag127 commented on #176
Hmm.... I have not seen your lists on Adguard repository reports on GitHub BTW.

[2021-08-08 20:11] krystian3w commented on #176
AG have limited numbers for lists, see troubles with number for AdGuard China Filter:

https://github.com/AdguardTeam/FiltersRegistry/pull/333#pullrequestreview-408103153

[2021-08-08 20:14] DandelionSprout commented on #176
* https://github.com/AdguardTeam/FiltersRegistry/tree/master/filters/ThirdParty/filter_250_DandelionSproutAnnoyances
* AdGuard for Windows: ![image](https://user-images.githubusercontent.com/22780683/128644486-1f6dabba-6082-4887-bea9-5510c8899b61.png)

I am not sure why it's not showing up in the AdGuard browser extensions, however.

[2021-08-08 20:15] krystian3w commented on #176
I suppose we will see AdGuard Addon 4.0 instead version 3.7 / 3.8 / 3.9.

[2021-08-08 20:22] DandelionSprout commented on #63
Unless something strange happens, I'm heading on vacation abroad on Tuesday or Wednesday, and I may be away for as much as 2 weeks straight. I will therefore only be able to tend to emergency matters or very-easy-to-fix matters during that time. Do not panic if it takes me a week to react to stuff.

[2021-08-08 22:38] THEtomaso commented on #63
@DandelionSprout:
Still using your old Gmail account?
I sent you a link to an article, a couple of days ago..
It mentioned a URL used for scamming Norwegians.
Still don't see it in your filter though.

[2021-08-08 22:39] DandelionSprout commented on #63
Things tend to drown in my E-mail folders. I think I need to create a "Nordic Filters General", similar to the URL Shortener general, when I get back.

[2021-08-08 22:54] THEtomaso commented on #63
Well, such scam URLs aren't usually that long-lived.

[2021-08-10 14:09] THEtomaso commented on #63
I noticed something in this uBO commit ("Add support for blocklist of filter lists"):
https://github.com/gorhill/uBlock/commit/23f08f027460b5d0c0436357f866d6c48b8df701

It states the following:

Nevertheless, uBO doesn't seem to allow adding those filters at all.
Example (unable to add):
`https://easylist-downloads.adblockplus.org/antiadblockfilters.txt`

Does anyone know if the policy was changed

[2021-08-10 14:15] uBlock-user commented on #63
@THEtomaso https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/badlists.txt

[2021-08-10 14:24] THEtomaso commented on #63
So, the _**remove**_ parameter does indeed prevent some filters from being added, thereby betraying the statement in the initial commit?

[2021-08-10 14:32] uBlock-user commented on #63
What exactly is betrayed ?

[2021-08-10 14:35] THEtomaso commented on #63
The statement, which I quoted here:
`https://github.com/DandelionSprout/adfilt/issues/63/#issuecomment-896061474`

[2021-08-10 14:38] uBlock-user commented on #63
You mean when importing the list via Import functionality ?

[2021-08-10 14:40] THEtomaso commented on #63
Yes

[2021-08-10 14:44] uBlock-user commented on #63
That functionality for **direct import** was never added because when you already have the URL copied for importing, you could just open the URL beforehand in a new tab and view the filters.

[2021-08-10 14:47] okiehsch commented on #63
You can import lists that are on the badlist by adding a dummy parameter at the end, for example
`https://easylist-downloads.adblockplus.org/antiadblockfilters.txt?_`

[2021-08-10 14:48] THEtomaso commented on #63
Of course, but that's not what's stated.
It says that "**Incompatible filter lists can still be imported into uBO**"!

[2021-08-10 14:49] THEtomaso commented on #63
I'm aware of that trick, but that wasn't what I was asking.

[2021-08-10 14:50] uBlock-user commented on #63
@THEtomaso yes like this - https://fanboy.co.nz/ - click on any list there and you will asset view it.

[2021-08-10 14:52] THEtomaso commented on #63
At this point, I'll assume that you're just pulling my chain. :)

[2021-08-10 14:55] uBlock-user commented on #63
![Capture](https://user-images.githubusercontent.com/21290713/128889476-6c2eac1f-eb5b-4359-bd5b-dd5fbb7ba41f.PNG)

^ If that picture doesn't answer your question, then it's best you ask gorhill himself.

[2021-08-10 16:25] krystian3w commented on #63
Github falling down:

- I can not clear notifications (https://github.com/notifications)  and
- use emoji on posts on both tribe of webpage (or github added option to negation add reactions similar to ban on repository/organisation).
- rare I see "You can't comment at this time. "...

[2021-08-10 16:41] krystian3w commented on #63
https://github.com/DandelionSprout/adfilt/issues/63#issuecomment-896099735

Button only "hide" yellow `#ffffe6` bar, this is really big error to add "one" more `if`  asap in "viewer"?

[2021-08-11 19:39] peace2000 opened #246 "Ticketmaster ad leftovers"
https://www.ticketmaster.no/
https://www.ticketmaster.se/
https://www.ticketmaster.dk/

![kuva](https://user-images.githubusercontent.com/17256841/129092256-d7c8623a-e06b-4940-93bc-58fd9e0d4f1a.png)

![kuva](https://user-images.githubusercontent.com/17256841/129092390-d9a6f28e-99a6-49ba-a9c8-d8fa6221c75c.png)

Suggestion: `#?#div:-abp-has(> [id|="ad-slot"])` (used the same for the Finnish Ticketma

[2021-08-12 21:53] bitsper2nd commented on #63
New filters recommendations for the youtube list and annoyances list.
https://gist.github.com/gidoBOSSftw5731/15721a09a8be4191baeb4c5606d1a199

[2021-08-13 06:18] krystian3w commented on #63
Most can be works with ABP / AdBlock - I see only one used "`matches-css`" (ABP on gitlab have feature request to add support).

[2021-08-13 22:43] iam-py-test opened #247 "IDEA: Add support for DuckDuckGo/Bing in the antimalware list"
Currently, the antimalware list removes malware domains from Google's results, but it does not block results in DuckDuckGo & Bing search results.
You could use the following filters to remove from DuckDuckGo results, but I don't know how to do the same for Bing:
[code]

[2021-08-14 18:47] hirorpt commented on #247
Can you tell me the page where this filter is valid? I'm currently creating on similar filters that works with multiple search engines.

[2021-08-14 19:07] iam-py-test commented on #247
This should work for the smaller sub-results (i.e. on https://duckduckgo.com/?q=ublock&ia=web with uBlock Origin disabled)

@hirorpt Thank you! I will correct it

[2021-08-15 12:36] hirorpt commented on #247
Thank you, @iam-py-test . I decided to use`duckduckgo.com##[data-domain$="ublock.org"]` as proposed by gorhill, which supports both of `.sitelink` and `.result`.

[2021-08-15 12:50] iam-py-test commented on #247
Updating using [data-domain]

[2021-08-15 13:00] DandelionSprout commented on #247
It is unlikely I can fix this before Wednesday night UTC, which is the earliest possible time I could get back home from vacation to Finland and Sweden.

Once I do get home, it's of reasonably high priority.

[2021-08-16 11:11] THEtomaso commented on #63
@DandelionSprout:

### Issue:
Empty ad containers @ `https://idag.no/`, due to `##.nf-o-annonse` (scroll a tad down).

### Possible fix:
`idag.no#?#.nf-js-moduleblock:-abp-has(.nf-o-annonse)`

[2021-08-16 20:00] krystian3w commented on #63
Anybody found good fork for this archived addon:

https://github.com/palant/searchlinkfix

❓

Will be good version published in Chrome/Firefox stories and optionally stories PaleMoon/Basilisk.

[2021-08-16 21:32] iam-py-test opened #248 "DandelionSprout DNS breakage"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

When DandelionSprout DNS is enabled/installed, `blog.malwarebytes.com` returns a NX_DOMAIN, while once it is disabled, I can reach the website.
I have experienced first on Windows, but once this problem on ChromeOS after I added it as my main DNS server, and then when I eventually disabled i

[2021-08-17 03:20] DandelionSprout commented on #248
I can confirm that site was indeed false-positived in the server's query log due to `://130.211.` in Compilation List. I've whitelisted that entry at the moment, and will look into a more permanent fix in 1-2 days.

[2021-08-17 14:27] CyanoTex opened #249 "[🇪🇺 GDPR 451 List of Mostly American Websites Who Hate Europe and Privacy Rights] New entry"
https://www.wavy.com/news/trending/alcoholic-mountain-dew-drink-hard-mtn-dew-in-the-works/

Here's the website in question.

![msedge_JFJ3pJbjGY - 17-08-2021 at 04-27-07 PM](https://user-images.githubusercontent.com/62466866/129744540-c6b57409-3708-44ee-bc7e-f0086e7de45a.png)

[2021-08-17 16:23] peace2000 commented on #249
"Our European visitors are important to us."

No, we aren't... :D

[2021-08-17 16:34] peace2000 opened #250 "False positive"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

Filter `##.ad-container` removes non-ad elements.

Removed ad-elements are found in these links:

https://www.kuopio.fi/etusivu

https://www.kuopio.fi/-/viksu-kuopio-tunnus-ymparistovastuullisille-toimijoille-haku-on-kaynnissa?inheritRedirect=true&redirect=%2Ffi%2Fetusivu

Possible fix:

`##

[2021-08-17 21:09] DandelionSprout commented on #246
I've delegated this to https://github.com/easylist/easylist/issues/8677 for the time being, since the placeholders are present on 20 other `Ticketmaster` versions as well.

[2021-08-17 21:09] #246 closed

[2021-08-17 21:21] peace2000 commented on #246
Oh.. Didn't realize they aren't just a nordic company... :D

[2021-08-17 21:28] #247 closed

[2021-08-17 21:35] #249 closed

[2021-08-17 21:43] #250 closed

[2021-08-17 21:43] DandelionSprout commented on #250
Considering that entry already had two whitelisted domains, this 3rd one meant it was time for me to replace the entry as a whole.

[2021-08-17 21:53] peace2000 commented on #250
That might be good solution. That rule is probably among those "sounds good but causes false positives" rules... Just like filter `##.ad`.

The main Easylist doesn't either have `##.ad-container` as a generic entry, but it has many entries that where it's followed by a hyphen:

![kuva](https://user-images.githubusercontent.com/17256841/129805519-741db106-c396-4f7f-8f90-ff27e28ac19c.png)

[2021-08-17 22:26] DandelionSprout commented on #63
The "Experiencing interruptions" entry looks pretty good. The rest I need to try to remember how to trigger in a live environment.

I can't seem to find any `-annonse` elements on their frontpage on my end, but I did find empty padding that I'll take care of.

Not that I'm personally aware of.

[2021-08-17 22:33] krystian3w commented on #63
Twitter has "new" cookie bar, my old filters no longer safe or match element so I created this:

[code]

any can do better?

[2021-08-17 22:51] peace2000 commented on #63
Easylist Cookie hides that banner for me via `twitter.com##.r-13qz1uu.r-tvv088.css-1dbjc4n`

Not future-proof but doesn't seem they change it's name tha often.

[2021-08-17 22:54] krystian3w commented on #63
Cover night / dark theme?

[2021-08-17 22:56] peace2000 commented on #63
Yeah it's dark banner for me.

[2021-08-17 22:59] uBlock-user commented on #63
It will change when the dev compiles twitter site code which is written in React.

[2021-08-17 23:04] peace2000 commented on #63
Ok, then the rule in Easylist Cookie is pretty pointless... :D

I went for this:

`twitter.com##div:has(> div[dir="auto"] > a[href$="twitter-cookies"])`

[2021-08-17 23:07] krystian3w commented on #63
Tons of div need by checked in ABP/AdGuard.

maybe any content blocker first try found by pure "CSS" path:  `div > div[dir="auto"] > a[href$="twitter-cookies"]` and now enable enforce `has`?

[2021-08-18 08:44] THEtomaso commented on #63
![filterissue-idag](https://user-images.githubusercontent.com/9382674/129867415-83fe92b0-b837-44a8-867d-481377fbdd87.jpg)

[2021-08-18 09:40] krystian3w commented on #63
Remember add browser where you found - maybe page generate other code for PaleMoon/Basilisk than for Safari 15/Chrome 92/Firefox 91.

[2021-08-18 10:27] THEtomaso commented on #63
Look to be the same.
Besides, DS knows what I'm using. :)

[2021-08-18 11:57] hirorpt commented on #247
Maybe
`:not([data-domain$="..."], ...)`

[2021-08-18 12:07] DandelionSprout commented on #247
Oh, right. I was slightly sleepy when I added those DDG entries. Give me 3min.

[2021-08-18 15:41] Yuki2718 commented on #63
If ABP compatibility is not a matter, you can use `:upward()`. I wonder if it changes once `:has()` become non-procedural and is injected by browser than JS code of uBO.

[2021-08-18 16:10] THEtomaso commented on #63
For those who might be interested, `.info` has just taken a leap, reaching SP's top 10 list:
`https://www.spamhaus.org/statistics/tlds/`

[2021-08-18 17:12] peace2000 commented on #63
Well, maybe this then:

`#?##layers div:-abp-has(> div[dir="auto"] > a[href$="twitter-cookies"])`

[2021-08-18 17:25] peace2000 commented on #63
Speaking of ABP... https://gitlab.com/eyeo/adblockplus/abc/adblockpluscore/-/issues/346 I'm happy to see they are planning to add more compatibility between other blockers.

[2021-08-18 22:25] iam-py-test opened #251 "More malware"
## Which entry/entries are you submitting?

[code]
## Which things do they block, hide, or unbreak?

These block malware domains - see https://github.com/iam-py-test/my_filters_001/commit/d2c54062123340ce64483830002f3e2df39ccdaa for more info (the rest are PUPs)
## Which of my lists are you submitting it to?
Antimalware
## Which adblocker(s) and version did you use when writing and testing the ent

[2021-08-18 23:48] hirorpt commented on #63
https://github.com/DandelionSprout/adfilt/blob/32542ab4ae7561500554cbc8a0900e2aac2600c8/Dandelion%20Sprout's%20Anti-Malware%20List.txt#L61
`:upward(2) ` filters can cause visual glitches.
<details>
<summary>Screenshot</summary>

![Screenshot](https://user-images.githubusercontent.com/82331005/129985647-36bc1475-837a-4bcc-88e0-7b02065de736.jpg)
</details>

Maybe you can refer to [my filters](https:

[2021-08-19 10:38] krystian3w commented on #63
Tested with recommended addon to mask as Google Chrome in Firefox?

[2021-08-19 12:07] hirorpt commented on #63
Of course, otherwise it has no effect.

[2021-08-19 20:39] #248 closed

[2021-08-19 20:41] iam-py-test commented on #248
@DandelionSprout Thanks
I will test once it is live

[2021-08-19 23:23] iam-py-test commented on #248
@DandelionSprout it seems the problem has been resolved.
I have enabled DandelionSprout DNS & blog.malwarebytes.com still loaded
Thank you for the quick response and fix!

[2021-08-19 23:25] DandelionSprout commented on #248
I did my utmost to ensure that entries that'd equal `/16` in CIDR syntax, will never be a part of https://raw.githubusercontent.com/DandelionSprout/adfilt/master/AdGuard%20Home%20Compilation%20List/AdGuardHomeCompilationList.txt ever again; and I haven't heard of such entries being present in any of the other lists that the server is using.

[2021-08-20 17:23] #251 closed

[2021-08-20 18:45] krystian3w commented on #63
Anybody have better links to use Lens on PC:

https://lens.google.com/search?p=oops

[2021-08-20 22:21] THEtomaso commented on #63
Sounds really, really, nasty.
Better block the damn thing!

[2021-08-21 05:20] WAZAAAAA0 opened #252 "$removeparam=LID filter breaks ttsdemo.com"
filter `$removeparam=LID` from list `LegitimateURLShortener.txt` breaks <https://ttsdemo.com/>

The audio never plays when the buttons "sample" or "Say It" are clicked.

[2021-08-21 15:30] DandelionSprout commented on #252
Thanks for the headsup. This has now been fixed in `21August2021v2-Beta`

[2021-08-21 15:30] #252 closed

[2021-08-22 21:34] THEtomaso commented on #63
@DandelionSprout:

`tv2.no` has a banner, which points to a political survey / user data harvester, on their front page.
They've coosen to litter their articles with it too:
`https://www.tv2.no/nyheter/14179225/`
`tv2.no##.banner` removes it from the article pages!

[2021-08-23 21:46] iam-py-test opened #253 "Some kind of adware"
## Which entry/entries are you submitting?

[code]
## Which things do they block, hide, or unbreak?

This blocks an website which promotes and hosts a PUP.
See https://www.virustotal.com/gui/file/af7b36c0f9f48f35315877e3cd5efb83c1a122a043ea9228db7da9c1c3c3120b/community
Screenshot:
![image](https://user-images.githubusercontent.com/84232764/130523494-069028d2-cbe7-4362-b228-424e719d2ad8.png)

## W

[2021-08-24 20:05] #253 closed

[2021-08-24 21:56] iam-py-test commented on #253
@DandelionSprout is it ok if I copy the additional entries into my own lists?
I figure it probably is, but I wanted to make sure

[2021-08-24 22:29] DandelionSprout commented on #253
It is indeed OK.

[2021-08-24 22:30] iam-py-test commented on #253
@DandelionSprout Thanks!

[2021-08-25 21:36] iam-py-test opened #254 "New PUP"
## Which entry/entries are you submitting?

[code]
## Which things do they block, hide, or unbreak?

This blocks a PUP. Screenshots below:
![image](https://user-images.githubusercontent.com/84232764/130867198-5e279ac8-0ff5-4362-8034-07ce12136dcc.png)
![image](https://user-images.githubusercontent.com/84232764/130867720-d75e9702-417d-4c1d-b45f-4b62c1161af2.png)

![image](https://user-images.githubu

[2021-08-27 04:46] #254 closed, assigned to nobody

[2021-08-27 12:13] andreewmat opened #256 "booking.com issue with Actually Legitimate URL Shortener Tool"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

On this [link]( https://www.booking.com/hotel/ro/magic-costinesti.html ) if you select "Excellent location - show map", a pop-up with a map will appear. Right there in the left side of the map should be the description of hotels. With URL shortener tool enabled I can't see this description.

[2021-08-28 14:09] iam-py-test opened #257 "Malware ips"
## Which entry/entries are you submitting?

[code]
## Which things do they block, hide, or unbreak?

These are various harmful/malware IPs from my blocklists which are not blocked by DandelionSprout antimalware
## Which of my lists are you submitting it to?
Antimalware
## Which adblocker(s) and version did you use when writing and testing the entries?

- [X] uBlock Origin
- [ ] AdGuard (Paid deskt

[2021-08-28 17:14] peace2000 opened #258 "Facebook sponsored posts"
## Which things do they block, hide, or unbreak?
Sponsored posts in Facebook. Each language interface has different "tag" for sponsored posts, making it mandatory to hide them via regional lists, instead of the main Easylist.

![kuva](https://user-images.githubusercontent.com/17256841/131225529-7d89f14f-d132-4071-bf96-a152802bd558.png)

(Censored private information)

## Which of my lists are you

[2021-08-28 19:50] DandelionSprout commented on #258
I think this should be re-delegated to uAssets, who in addition to being able to find a language-neutral fix somehow, probably have Facebook accounts, which I don't.

Moreover, Facebook is kind-of a global website.

[2021-08-28 20:26] peace2000 commented on #258
I'm afraid there isn't a language neutral version that works properly (or at least with good performance).

This would be a language neutral version:

`facebook.com#?#div[data-pagelet^=FeedUnit_]:-abp-has(div[role=article] div[style^=border-radius] span[dir=auto] a[href^="/ads/about/"])`

But it doesn't work well, it will just hide posts that are visible on-screen, others won't be hid even though

[2021-08-28 20:41] peace2000 commented on #258
![kuva](https://user-images.githubusercontent.com/17256841/131230516-76378eec-0063-4aa6-94e5-b3c6a324706d.png)

Screenshot from FB's DOM tree... :D

[2021-08-28 20:49] peace2000 commented on #258
Btw, why uAssets instead of Easylist?

[2021-08-28 20:57] DandelionSprout commented on #258
How about `facebook.com#?#div[data-pagelet^=FeedUnit_]:-abp-has(div[class*=" "] > span[class][dir] > span[id]:not([class] > span[class]:not([id]):first-of-type + a[aria-label]:last-of-type)`?

[2021-08-28 21:01] peace2000 commented on #258
Unfortunately that rule matches to all posts, not just ad ones.

[2021-08-28 21:03] DandelionSprout commented on #258
In that case I'm not sure what to do, other than to ask uAssets and AdGuard Filters about this instead. Especially since Ryan must've lied to you about where the entry should go, as global websites should *always* be in English-language lists.

[2021-08-28 21:12] peace2000 commented on #258
Well, I was told no in that occasion which I linked, so don't know other solutions than to add it to the Finnish list.

btw, here is DOM tree from non-sponsored post:

![kuva](https://user-images.githubusercontent.com/17256841/131231154-6a980140-5f21-489a-b0cb-10933eb5ac55.png)

[2021-08-28 21:40] #257 closed

[2021-08-28 21:54] #256 closed

[2021-08-29 02:43] Yuki2718 commented on #258
uAssets members keep asking user to reference this: `https://old.reddit.com/r/uBlockOrigin/wiki/solutions`. But I found FP by `facebook.com##div[role="feed"] div > span > span > a > span:upward(div[role="feed"] > div:not([data-pagelet*="group" i]))` in 3p frame (FB widget) so replaced this with `facebook.com##[role=feed] div > span > span > a > span >:not(:has-text(/^[^A-z]$/)):upward(div[role=fee

[2021-08-29 07:29] peace2000 commented on #258
@Yuki2718 I checked and that filter works for JP FB. For both "generic" JP and "kansai" dialect. They have a different switch the filter works for both of them.

![kuva](https://user-images.githubusercontent.com/17256841/131242352-d0cedc0f-9b61-4d48-b14b-f76bafac85d6.png)

[2021-08-29 07:35] peace2000 commented on #258
I btw also use this one for ads that have appeared at the of right rail:

`facebook.com#?#div[data-pagelet=RightRail] > div:-abp-has( div h3 > span:-abp-contains(Sponsoroitu))` but currently that ad is not appearing, at least for me so I'm not sure if that filter is still relevant.

But the filter that I previously posted, is relevant for Sponsored posts that appear all the time.

[2021-08-29 08:50] ryanbr commented on #258
Lied about what, when?

[2021-08-29 12:56] Yuki2718 commented on #258
Does `facebook.com##div[data-pagelet^="FeedUnit_"] div[role="article"] div[style^="border-radius"] span[dir="auto"] > span[id]:watch-attr(href) > a[href^="/ads/about/"]:upward(div[data-pagelet^="FeedUnit_"])` work for uBO? AG doesn't support watch-attr but `:matches-attr` can be used to unite all the language-specific filters into one.

[2021-08-29 15:16] krystian3w commented on #258
@ryanbr you closed in the past PR @peace2000 where he added Finland/Norawy/Sweeden word.

[2021-08-29 15:44] DandelionSprout commented on #258
peace2000 claimed you told him that entries for Facebook with Finnish GUI had to be in the Finnish list.

[2021-08-29 15:54] krystian3w commented on #258
Also AdGuard use own PureJS filter to hide self-promo so no need create filter based on ExtendedCSS aka Procedural cosmetic filter.

[2021-08-29 17:15] peace2000 commented on #258
That rule has issues hiding some off-screen sponsored posts. Doesn't perform well. :(

[2021-08-29 17:40] krystian3w commented on #258
I'm more concerned about whether someone will update the filter 2 times a day as Facebook starts changing the post structure (e.g. adding a fake hidden date that only matches-css could distinguish).

[2021-08-30 09:23] Yuki2718 commented on #258
[Off-topic] @krystian3w @peace2000 If you have time, can you check JP translation of `##a[aria-label="Advertiser link"]` and `##a[aria-label="Advertiser"]` ?

[2021-08-30 11:52] gautamkrishnar opened #259 "filter blocks all .ml domains"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

.ml is a free domain extension that anyone can register via https://www.freenom.com/. Currently the following filter rute:
https://github.com/DandelionSprout/adfilt/blob/e2f9d85e323c56af42495217e18deeee1eb1ce02/Dandelion%20Sprout's%20Anti-Malware%20List.txt#L16
Is blocking all the .ml websit

[2021-08-30 12:02] DandelionSprout commented on #259
The blockage is intentional, because I think ≥95.0% of `.ml` domains are malware in some way. I am however perfectly willing to add exceptions for individual sites, and will look into `nothingprivate.ml` real quick now.

[2021-08-30 12:07] #259 closed

[2021-08-30 12:09] gautamkrishnar commented on #259
@DandelionSprout it would be great if you can whitelist nothing private in the filter. It is an open-source project hosted at: https://github.com/gautamkrishnar/nothing-private

[2021-08-30 12:11] DandelionSprout commented on #259
I was quickly able to check and see that the site is good, so I've whitelisted it by now: https://github.com/DandelionSprout/adfilt/commit/2d79c3b56caa9426abc09566c4047f7dde496991#diff-deec8786cbfd5714487695e0570454f992bd318cee5efacc7633aace9f311838

If I understand AdGuard's filter mirroring correctly, the whitelisting will go live there in maybe 2 hours' time.

[2021-08-30 12:12] gautamkrishnar commented on #259
Thanks a lot 👍🏻

[2021-08-30 13:45] DandelionSprout commented on #258
For clarification: Is it still expected of me to have to log on to someone's Facebook timeline (Presumably that of my mom) and test all these entries?

Just need to make sure before I set off time to visit my parents for the sole purpose of doing that.

[2021-08-30 18:45] pawelkoszalin opened #260 "ie=UTF-8 string on Google search"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

When i wants to search something on my mobile, with chrome browser, your rules adds "ie=UTF-8" string to search link, and it broke polish specific characters.

### Add screenshots below if needed

![20210830_203921](https://user-images.githubusercontent.com/89804483/131388317-537af4b9-45c9-4

[2021-08-30 20:21] Faisalnd commented on #260
Even in Arabic the same thing
![Screenshot_20210830-232100_Chrome](https://user-images.githubusercontent.com/31592656/131400221-db3ad7be-abd1-4a8f-a406-f88c53592aa2.jpg)
![Screenshot_20210830-232046_Chrome](https://user-images.githubusercontent.com/31592656/131400226-fb682dec-49f0-41e3-bf41-6cfa4b685667.jpg)

[2021-08-30 23:50] krystian3w commented on #258
where found? I on homepage I have only translated: `aria-label="Sponsored"` into `aria-label="広告"`. (`広告`)

[2021-08-30 23:52] krystian3w commented on #258
You try exclude any FP (hide good content post as paid ad "sponsored")?

[2021-08-31 00:00] krystian3w commented on #258
Also in regional dialect (<strong>ślōnskŏ gŏdka</strong>) is used `<span aria-label="Szpōnzorowane"></span>`

[2021-08-31 00:43] krystian3w commented on #260
How this works with uBO + Google Search Fixer?

[2021-08-31 05:58] pawelkoszalin commented on #260
uBO + Firefox beta (Android) - works well
uBO + Kiwi - works well

[2021-08-31 06:04] DandelionSprout commented on #260
I'm having problems reproducing this in Chrome 92.0.4515.159 for Android 10 so far this morning. When using Chrome, are you searching from either:
1) The Google search line widget on the homescreen.
2) Chrome's URL bar.
3) By going to `google.com` and searching from there.

[2021-08-31 06:12] pawelkoszalin commented on #260
2. Chrome's URL bar.

[2021-08-31 06:14] krystian3w commented on #260
OK, so AdGuard remove 'param' harder or Chrome have very different code of page then compare what we see in Kiwi.

Maybe the best is comment line:

https://github.com/DandelionSprout/adfilt/blob/0f6d27cb47af837675a19228af99024db73b08d2/LegitimateURLShortener.txt#L937

Into adguard own/personal rules temporarily possible copy:

`||google.$~xmlhttprequest,removeparam=ei,badfilter`

And in free time

[2021-08-31 06:20] DandelionSprout commented on #260
Can you (pawel) paste the whole URL you get in the "Filter on" scenario in a comment below?

[2021-08-31 06:29] pawelkoszalin commented on #260
On:
https://www.google.com/search?ie=UTF-8&client=ms-android-samsung-ss&sourceid=chrome-mobile&oq=%C3%85%C2%BC%C3%83%C2%B3%C3%85%C2%82ty&q=%C3%85%C2%BC%C3%83%C2%B3%C3%85%C2%82ty&no_sw_cr=1&ved=1t%3A46160&zx=1630391050463

Off:
https://www.google.com/search?q=%C5%BC%C3%B3%C5%82ty&oq=%C5%BC%C3%B3%C5%82ty&aqs=chrome.0.69i59l3j0i512l2.921j0j9&client=ms-android-samsung-ss&sourceid=chrome-mobile&ie=UTF-

[2021-08-31 06:35] pawelkoszalin commented on #260
![Screenshot_20210831-083426_Chrome](https://user-images.githubusercontent.com/89804483/131453755-1bdd6f2e-6176-4551-b6ba-4ae03aaadc21.png)
![Screenshot_20210831-083327_Chrome](https://user-images.githubusercontent.com/89804483/131453762-9d105392-7acc-43eb-8fed-daa81b17825a.png)

[2021-08-31 06:45] DandelionSprout commented on #260
Okay, I am now clued on to something of some sort. Seems to be a pretty major bug with Google itself, where it converts `%C5%BC%C3%B3%C5%82ty` into `%C3%85%C2%BC%C3%83%C2%B3%C3%85%C2%82ty`, causing HTML entity failures.

Are you able to paste `@@||www.google.$removeparam=aqs` into your AdGuard user filters and see if that fixes anything at all?

[2021-08-31 07:11] pawelkoszalin commented on #260
Works!

https://www.google.com/search?q=%C5%BC%C3%B3%C5%82ty&oq=%C5%BC%C3%B3%C5%82ty&aqs=chrome.0.69i59l3j0i512l2.940j0j9&client=ms-android-samsung-ss&sourceid=chrome-mobile&ie=UTF-8

![Screenshot_20210831-090909_Chrome](https://user-images.githubusercontent.com/89804483/131458776-6c49b00e-f1f0-4941-8e22-4fd784820396.png)

[2021-08-31 07:24] #260 closed

[2021-08-31 10:06] Yuki2718 commented on #258
@krystian3w Thank you very much!

[2021-08-31 11:06] CyanoTex opened #261 "[🥒 Anti-'Non-news' List ] 404 website"
http://67.205.152.238/
![msedge_1J4DXIkiGL - 31-08-2021 at 01-05-25 PM](https://user-images.githubusercontent.com/62466866/131491953-27648a19-1a3b-4074-b26e-7279a7393b84.png)

[2021-08-31 11:28] krystian3w commented on #258
Maybe due parent:

`A[Advertiser] > *  object a[Advertiser image link]`

[2021-08-31 18:16] #261 closed

[2021-08-31 20:44] peace2000 commented on #258
@krystian3w I remember seeing an ad on Facebook's right upper rail but it's appearance seems to be random for me, I don't currently see it. The only thing I see at the moment, are sponsored posts in newsfeed...

What this rule `##a[aria-label="Advertiser link"]` (or it's language specific version) actually hides? If I recall correctly, it only hides a title of that right upper ad? Can you tell if

[2021-08-31 20:47] peace2000 commented on #258
It's always up to list maintainers what sites are supported, but personally I think that it's a pity if one of the most popular sites isn't covered by adblockers.

[2021-08-31 21:24] DandelionSprout commented on #258
How about it reporting it to uAssets, then?

[2021-08-31 21:30] DandelionSprout commented on #258
That being said, have anyone here tested this whole situation with uBlock Filters turned on? Would've been nice to know, before I'd have attempted to re-delegate this report to them.

[2021-08-31 23:07] iam-py-test opened #262 "[NSFW] Scam"
## Which entry/entries are you submitting?

WARNING: These websites contain pornography and scams
[code]
A lot of the redirects were too fast for me to get the url, so this list is incomplete.
## Which things do they block, hide, or unbreak?

The original url is from https://forums.malwarebytes.com/topic/277965-your-system-is-infected-with-3-viruses/

Screenshots (ignoring NSFW content; also, I st

[2021-09-01 05:42] peace2000 commented on #258
Yes, they don't hide / block them. I also double-checked by updating those lists. But no, they don't currently do anything to them.

[2021-09-01 07:25] krystian3w commented on #258
In mega thread but may anybody generate commit in tribe "copy-paste".

[2021-09-01 11:23] Yuki2718 commented on #258
Oh, then I guess it's not worth blocked much.

[2021-09-01 14:31] peace2000 commented on #258
@DandelionSprout That sound's fine, it's always the best if an universal solution is found :)

@krystian3w IMO that topic is a thread, instead of an issue report... :D I would open a new one concerning non-english filters or universal filter.

[2021-09-01 20:28] krystian3w commented on #258
Enough is wizmak commit.

[2021-09-02 10:42] Yuki2718 commented on #258
`facebook.com##div[data-pagelet="RightRail"] a[aria-labelledby][target="_blank"][tabindex="0"]` looks quite generic, but if it's really useful can be added to EL.

[2021-09-02 12:15] krystian3w commented on #258
Blank may  suggest 3 party object.

[2021-09-03 05:14] THEtomaso commented on #63
@DandelionSprout:
Since **AdGuard Base filter** and **uBlock filters** both contains a `$generichide` fix for `itavisen.no`, this site-specific rule is now required:
`itavisen.no##.adsbygoogle`

Example:
`https://itavisen.no/2021/08/31/kina-forbyr-unge-under-18-a-spille-mer-enn-tre-timer-online-i-uken-spillaksjer-raser/`

[2021-09-03 13:42] THEtomaso commented on #63
How do I get rid of this annoyance, which pops up at the top my screen, every damn time I log in @ `live.com`!?:

![live-popup](https://user-images.githubusercontent.com/9382674/132014876-d2273beb-9f2b-4ea3-9e4f-4a6b862e1bfd.jpg)

[2021-09-03 13:44] peace2000 commented on #63
I got the same crap, it doesn't look something that adblockers can handle. I just clicked yes to that.

[2021-09-03 14:12] peace2000 commented on #63
https://answers.microsoft.com/en-us/outlook_com/forum/all/add-outlooklivecom-as-an-application-for-mailto/9a891915-bde2-47dc-8de4-9bfd275c4ecd

"Thanks for getting back to us and for the information provided. Based on what we’ve found out and further checking on this concern, this is browser related. There’s a specific setting in Firefox and Pale Moon that’s detecting the Outlook web compose link

[2021-09-03 15:02] DandelionSprout commented on #63
That is not a page element. I am 105% sure that it's a browser prompt to ask which program to set as the standard to open a filetype. Should be possible to remove in Firefox by selecting another program or website as the `mailto:` standard program, but I'm not sure how.

I'll take care of those, after I've made a streamlined report form specifically designed for use by you. That way the chance of

[2021-09-03 15:15] DandelionSprout commented on #63
@THEtomaso https://github.com/DandelionSprout/adfilt/blob/master/.github/ISSUE_TEMPLATE/express-report-form-for-thetomaso-only.yml can now be used by you. The main difference from the regular English report form, is that a lot more fields are optional instead of mandatory, and minor replacements in the browser/adblocker selection lists.

[2021-09-03 15:24] #262 closed

[2021-09-03 16:56] THEtomaso commented on #63
Thanks.

--

Yeah, obviously, but I thought maybe I could block a script or something, in order to prevent it from popping up.

--

No idea how to use it.

[2021-09-03 17:10] THEtomaso commented on #63
I figured out how to kill it via Pale Moon's `about:config`:
`network.protocol-handler.external.mailto = false`
Of course, this completely disables mailto links, which suits me just fine, since I've never, ever used one anyway! :)

[2021-09-03 18:29] peace2000 commented on #258
Now I finally got to see that Rightrail ad :D not gonna refresh the page so that I won't "lose" it :D :D

![kuva](https://user-images.githubusercontent.com/17256841/132043753-d2ad1b70-ac67-495f-bf92-081735d12136.png)

Rule `facebook.com##div[data-pagelet="RightRail"] a[aria-labelledby][target="_blank"][tabindex="0"]` only blocks it partially. It removes the ad stuff under "Sponsoroitu" (Sponsored)

[2021-09-03 18:31] DandelionSprout commented on #63
You go to Issues → New issue → Express report form for THEtomaso only, which'll make it possible to write or select anything into the form and to then submit it.

[2021-09-03 18:51] THEtomaso commented on #63
Can't remember anyone complaining about me using my own.
If it's OK with you, I'd prefer using my standard template at your repo too, so you can delete that custom one, which you've created.

[2021-09-03 19:18] THEtomaso commented on #63
Speaking of Pale Moon issues..

@okiehsch:
Perhaps you could add this fix of mine to uBO's Legacy filter?:
`https://forum.palemoon.org/viewtopic.php?f=70&t=27299/` (First post, under "EDIT2")

DNB is Norway's largest bank, so it's rather important that their site actually works.
Unfortunately, their current coding error effectively prevents users from logging in with Pale Moon and other UXP browse

[2021-09-03 19:24] okiehsch commented on #63
https://github.com/uBlockOrigin/uAssets/commit/a5237f6c08d783b0dceb167b246580098d226d29

[2021-09-03 19:27] THEtomaso commented on #63
@okiehsch:
Oh, and here's the one that I'm using for `vg.no` (which I mentioned in that same thread):
`vg.no###global-navigation:style(z-index: 9999 !important;)`
It fixes the same coding error that breaks `dnb.no`, so it wouldn't surprise me if it's coded by the same guy(s). :)

[2021-09-03 19:30] okiehsch commented on #63
https://github.com/uBlockOrigin/uAssets/commit/219b9ef837497a2a6c49e9458935ee282bfb1821

[2021-09-03 19:48] DandelionSprout commented on #258
I have now spent 40min browsing through my mom's Facebook timeline, and I somehow saw no sponsored posts at all despite scrolling 240 posts down.

So that leads to the following situation:
* Fixed in stock AdGuard installations.
* Fixed in stock ABP installations.
* I can't submit `facebook.com##div[data-pagelet="RightRail"] a[aria-labelledby][target="_blank"][tabindex="0"]` nor `facebook.com##div

[2021-09-03 19:48] #258 closed

[2021-09-03 19:50] DandelionSprout commented on #63
We can try it out and see how well it works for some weeks (although it isn't normally supposed to be bypassable to have to add a screenshot of the uBO list settings). You have my approval.

[2021-09-03 20:00] iam-py-test commented on #262
@DandelionSprout thanks!

[2021-09-03 20:01] peace2000 commented on #258
@DandelionSprout Very strange that you didn't see any sponsored posts. It seems that Facebook sometimes shows ads and sometimes not. I see sponsored posts all the time.

But yeah, I understand your position. This issue report was mostly about adding Nordic specific filters. I'll see if EL will accept my rule.

[2021-09-03 20:11] iam-py-test opened #263 "Broken link in the "I wish to help" form"
The _I wish to help_ form includes a link to another of the fake uBo variants:
![image](https://user-images.githubusercontent.com/84232764/132060689-4a4b705e-db19-4958-9210-98878d2286e9.png)
[The link](https://chrome.google.com/webstore/detail/adblock/dgpfeomibahlpbobpnjpcobpechebadh) returns a 404, probably because Google took it down.

[2021-09-03 20:15] DandelionSprout commented on #263
Good point. I suppose that link (or even that entire option) can be safely removed now, then.

[2021-09-03 20:20] #263 closed

[2021-09-03 20:21] iam-py-test commented on #263
@DandelionSprout you might want to add uBlock Origin to the list of AdBlockers

[2021-09-03 20:23] DandelionSprout commented on #263
The situation is a bit complicated with that form, as it was made a time when I was a one-man army who could handle *all* uBO and AdGuard matters on my own, and that I merely needed some help with correcting syntaxes for very unusual adblockers.

Times sure have changed, since stuff like adding entries to Legitimate URL Shortener now takes me up to 2 weeks due to frequent fevers. I'll have to anno

[2021-09-03 20:25] iam-py-test commented on #263
@DandelionSprout I am willing to help out with the repo (i.e. using PRs)
I am at school most of the day, but can still spend time working on it

[2021-09-03 20:36] DandelionSprout opened #264 "Position(s) for collaborators for 4 of my most backlogged lists are open"
I, Dandelion Sprout, have had frequent coldths and fevers in the past 1½ years, and while I can maintain a lot of my lists on my own will, some of the backlog has now become more than what I can easily handle as a one-man army anymore.

### This concerns:
* [Actually Legitimate URL Shortener Tool](https://github.com/DandelionSprout/adfilt/blob/master/LegitimateURLShortener.txt)
* [Actually Legitim

[2021-09-03 20:39] DandelionSprout commented on #263
In that case it seems to bes your lucky day if you can document a good prior history of contributing to various repos: https://github.com/DandelionSprout/adfilt/issues/264

[2021-09-03 20:41] DandelionSprout commented on #63
In other but also important news: https://github.com/DandelionSprout/adfilt/issues/264

[2021-09-03 20:47] iam-py-test commented on #264
As stated in #263, I am willing to help.
I have submitted entries (mainly malware domains) to this repo, in addition to [uAssets](https://github.com/uBlockOrigin/uAssets/issues?q=is%3Aissue+is%3Aclosed+author%3Aiam-py-test), [BlockList Project](https://github.com/blocklistproject), and [some other repos](https://github.com/My-External-Stuff/ublockorigin-rules/issues/9).
I also [have my own blockli

[2021-09-04 17:43] DandelionSprout commented on #264
It looks like it'll be a trivial matter to approve you (iam-py-test) for collaborator status sometime tomorrow, but you can read through https://github.com/DandelionSprout/adfilt/blob/master/Wiki/SyntaxMeaningsThatAreActuallyHumanReadable.md to see if there are any syntaxes you've missed out on (You can safely skip ones like `:xpath`, `:min-text-length`, and `:watch-attr`).

[2021-09-04 17:58] iam-py-test commented on #264
@DandelionSprout ok! I will do
Right now I will be leaving my computer so I will not see any notifications

[2021-09-04 18:17] krystian3w commented on #63
Browsers added support accent color (Chrome 93, Edge 93, Firefox 92 Beta/RC), so possible disable svg for inputs in uBO dashboard then Opera implement this in 79 (rare chance) or in 80/81 (no tested latest dev/nightly Opera).

https://developer.mozilla.org/en-US/docs/Web/CSS/accent-color#result

[2021-09-05 13:10] iam-py-test commented on #264
@DandelionSprout invite received
Thank you

[2021-09-05 22:21] iam-py-test opened #267 "Trojan downloader"
## Which entry/entries are you submitting?

[code]
## Which things do they block, hide, or unbreak?

This blocks a trojan. See VT reports:
https://www.virustotal.com/gui/file/5d7ab69a1bb7441b5d49e174707c04508859af5eb21d4aa2d2535b5103179bdb/behavior/C2AE -> which contains ->
https://www.virustotal.com/gui/file/5cb30adb8f800bd31c6e4c261f2c9cc4cc14906e9c238b92c6233aba4e925f02/detection -> which insta

[2021-09-06 18:14] #267 closed

[2021-09-06 18:15] iam-py-test commented on #267
@DandelionSprout thanks

[2021-09-06 19:12] chirag127 opened #268 "bhaskar.com"
**Issue URL (Annoyance)**:
https://www.bhaskar.com/international/news/chinas-peoples-liberation-armys-preparation-for-war-explained-by-us-army-128896329.html  has "today's Horoscope"
<details><summary>Screenshots:</summary>

![image](https://user-images.githubusercontent.com/76880977/132254937-d3552894-176b-4000-8df7-41609d9352d2.png)

</details><br/>

<details><summary>System configuration:</summ

[2021-09-06 19:25] iam-py-test commented on #268
@chirag127 does `www.bhaskar.com##.f0b88488` seem to get rid of it?
![image](https://user-images.githubusercontent.com/84232764/132255634-fdfd9bfb-4551-47b5-ac2c-746e34e8520b.png)

[2021-09-06 19:42] chirag127 commented on #268
Well if I knew if it will work properly and not create FP , I would have simply added to my personal filters.

[2021-09-06 19:44] iam-py-test commented on #268
I don't see any breakage
I am assuming the element is named the same on your side as well?

A possible option to reduce FPs would be to use :has-text, but that would have to language-specific

[2021-09-06 19:46] DandelionSprout commented on #268
I'm tempted to go with `bhaskar.com##div[class]:not([class^=_], [style], :last-of-type):-abp-has(a[href*=rashifal])`, just in the case the element's name tend to differ.

[2021-09-06 19:47] iam-py-test commented on #268
@DandelionSprout your filter works on my end

[2021-09-06 20:58] iam-py-test commented on #63
@DandelionSprout ads:
![image](https://user-images.githubusercontent.com/84232764/132260137-1ef0e545-e36f-4c0c-97f1-5c11976df3fc.png)
![image](https://user-images.githubusercontent.com/84232764/132260162-08a1c52e-89d7-4d0a-a040-1349c3601d5e.png)

URL: `https://www.nettavisen.no/`
Proposed filter: `www.nettavisen.no###art-challengeAd-1`

[2021-09-06 21:56] #268 closed

[2021-09-06 22:02] THEtomaso commented on #63
I've already discussed this with DS.
He won't block self-promoting subscription ads.

[2021-09-06 22:03] DandelionSprout commented on #63
I can confirm THEtomaso's statement. Those aren't ads, they're about subscribing to paywalled articles.

[2021-09-08 06:50] crazyyzarc opened #269 "YT filters"
Preciser filters on YouTube web
[code]

[2021-09-08 11:09] andreewmat commented on #63
Hello! I'm using Actually Legitimate URL Shortener Tool on Ublock Origin and I encountered with [link](https://www.imobiliare.ro/vanzare-garsoniere/bucuresti/lujerului/garsoniera-de-vanzare-XC0R00043?exprec=similare&rec_ref=home&sursa_rec=home&imoidviz=3158998577#modal-galerie-mare). Can URL Shortener Tool clean this link? To look like [this]( https://www.imobiliare.ro/vanzare-garsoniere/bucuresti

[2021-09-08 11:48] iam-py-test commented on #63
@andreewmat let me look into that.

[2021-09-09 11:28] chirag127 opened #270 "msn.com"
**Issue URL (Astrology Annoyance)**: https://www.msn.com/en-in

<details><summary>Screenshots:</summary>

https://www.msn.com/en-in
![image](https://user-images.githubusercontent.com/76880977/132677834-43e19e1b-0402-477c-8a55-dc47c2311e2d.png)

</details><br/>

<details><summary>System configuration:</summary>

![image](https://user-images.githubusercontent.com/76880977/126797496-0434116b-fc94-42c

[2021-09-09 11:36] #270 closed

[2021-09-09 14:32] THEtomaso commented on #63
Visiting this URL @ `imgur.com` opts you out of their beta program:
`https://imgur.com/beta/disable/`
Since their beta pages causes problems in some browsers, I've been trying to create a `##+js` fix for uBO, in order to be opt out automagically.
Unfortunately, none of my attempts has been succsessful.
Any suggestions?

[2021-09-09 20:18] iam-py-test commented on #63
@THEtomaso what problems does it cause?

I am trying to look into that, but I don't see any network requests/html relating to it, and their scripts seem minified/obfuscated

[2021-09-09 20:34] THEtomaso commented on #63
Blank pages:
`https://forum.palemoon.org/viewtopic.php?f=70&t=27334/`

[2021-09-09 20:39] iam-py-test commented on #63
Ok. Thanks.
I will try to help but am busy. As it is controlled by a cookie, maybe `##+js(cookie-remover)` could help, if we know the name of the cookie? Or is it that the cookie is generated to opt-out? (if the latter, custom scriptlets may be needed)
You know more about uBo than I do, so not sure if that helps

[2021-09-09 20:54] krystian3w commented on #63
I use this with new line `// @match        https://imgur.com/upload`:

[code]

try copy to GreasyMonkey? https://github.com/janekptacijarabaci/greasemonkey/releases/latest

[2021-09-09 21:00] THEtomaso commented on #63
![filterissue-imgur-beta](https://user-images.githubusercontent.com/9382674/132761815-4bf56b04-4921-44a5-b4b6-c74d6654058c.jpg)

I tried this, but it didn't work:
[code]

[2021-09-09 21:02] iam-py-test commented on #63
Interesting.
What browser are you using?

[2021-09-09 21:03] THEtomaso commented on #63
I've actually just uninstalled Greasemonkey.
I'd prefer not having to use it.

[2021-09-09 21:04] THEtomaso commented on #63
Pale Moon

[2021-09-09 21:07] krystian3w commented on #63
You should create scriptlet like AdGuard `set-cookie` or `set-cookie-reload`:

https://github.com/AdguardTeam/Scriptlets/blob/master/wiki/about-scriptlets.md#set-cookie-reload
https://github.com/AdguardTeam/Scriptlets/blob/master/wiki/about-scriptlets.md#-%EF%B8%8F-set-cookie

[2021-09-09 21:18] THEtomaso commented on #63
Thanks, but I'm only interested in a potential fix that accomplishes this through the use of uBO rules.
Otherwise, I might just as well install Greasemonkey again (which hasn't been updated for Pale Moon is several years).

[2021-09-09 21:21] iam-py-test commented on #63
@THEtomaso what about custom scriptlets (i.e. https://github.com/iam-py-test/my_filters_001/issues/65#issuecomment-867054607)

[2021-09-09 21:21] krystian3w commented on #63
You'd have to debug the script (e.g. in PaleMoon DevTools) that checks for cookies to see if it can be aborted, since the site probably starts in the new layout from the beginning so bad abort may block back to oldie layout.

[2021-09-09 21:24] krystian3w commented on #63
need thanos power to fix it for newbie/noob users, who can't edit `userResourcesLocation`.

A little wors if PHP check existence of cookies.

[2021-09-09 21:25] iam-py-test commented on #63
And it could very well end like https://github.com/iam-py-test/my_filters_001/issues/65#issuecomment-867992657 if they change the value

[2021-09-09 21:27] krystian3w commented on #63
All in all, the same is true for the anti-adblock board updated every 4 days after a commit in any repository (as long anti-adblock start need new scriptlet or implement `replace`).

[2021-09-10 18:50] DandelionSprout commented on #269
I must say that all 4 of these entries seem like overkill to me. I need a few days to consider whether to create a new _"YouTube: Even More Pure Video Experience - Overkill"_ list in order to cover these and https://gist.github.com/gidoBOSSftw5731/15721a09a8be4191baeb4c5606d1a199

[2021-09-10 22:56] iam-py-test commented on #242
@DandelionSprout what are the criteria for adding a new list?

[2021-09-10 23:16] DandelionSprout commented on #242
My main priorities for that server this week, have been to:
• Invest in and set up a new router to hopefully reduce the number of outages.
• Figuring out the best time to bump https://github.com/AdguardTeam/AdguardKnowledgeBase/pull/881 again.

Accordingly, adding new lists have not been a high priority in the past few weeks.

[2021-09-10 23:38] iam-py-test commented on #242
@DandelionSprout understood

[2021-09-11 07:35] sanjayen opened #272 "Which blocklist is the best for blocking clickbait sites only?"
Hello, Thank you for creating and managing this repository. It is overwhelming and I do not know how you are able to update so many lists.

I read this article today https://www.morningbrew.com/marketing/stories/2021/09/08/brands-still-playing-ball-clickbait-ad-sites-advertisings-roach-will-survive-bomb and it mentions that the clickbait ecosystem has only grown. Morning Brew compiled a list of 12

[2021-09-11 11:01] iam-py-test commented on #272
@sanjayen that sounds like a good idea

[2021-09-11 11:43] DandelionSprout commented on #272
From my time on working on FilterLists.com and its ~1,600 lists, I don't think I'm aware of **any** lists that currently block `itsthevibe.com`, `eliteherald.com`, or `magellantimes.com`. So there's definitely a market for such a list to be created and then be added to FilterLists.com.

Despite looking deeply into those three domains, I was only able to find an additional 5 that are owned by the o

[2021-09-11 12:13] iam-py-test commented on #272
Sorry! I added a commit to my repo & it closed the issue

[2021-09-11 15:22] sanjayen commented on #272
Not a problem. Let me find some (sub)domains and get a list going at my end and share.

Have not done lists myself and this will be a learning. Will share more as I read through some articles and find out the 129 as a starting point.

[2021-09-11 15:25] sanjayen commented on #272
Thank you for this list, will check.

If it was upto me, I would keep fake news and clickbaits separate for now. Because one is a rabbit-hole, the other is just pure waste of time.

[2021-09-11 15:53] iam-py-test commented on #272
@sanjayen I just started a list [here](https://github.com/iam-py-test/my_filters_001/blob/main/clickbait.txt)
Its pretty much just the domains you reported and what Imre found

[2021-09-11 15:59] sanjayen commented on #272
Yes i saw that.

Let me add some more to the list - though I will have to learn how to edit someone else's file.

[2021-09-11 16:01] iam-py-test commented on #272
Just hit _fork_ at the top of the screen and then edit it in your fork
See https://docs.github.com/en/github/collaborating-with-pull-requests/working-with-forks/about-forks, https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests

[2021-09-11 16:07] sanjayen commented on #272
Thank you for this. I am used to editing internal CVS systems.

[2021-09-12 12:54] iam-py-test commented on #63
@DandelionSprout
https://github.com/DandelionSprout/adfilt/blob/9a0909de4a84b5fa2debd9ba46050678967bb63f/NorwegianList.txt#L2294-L2295
in Nordic Filters seems to create an condition which will never happen, as (to my knowledge) there is no browser treated as both Safari and Chromium by uBo

[2021-09-12 18:08] krystian3w commented on #63
ubo no support `or` like AdGuard if with brackets.

[2021-09-12 18:10] krystian3w commented on #63
Also not optimized are tested? Better copy before any filter line in file:

https://github.com/DandelionSprout/adfilt/blob/9a0909de4a84b5fa2debd9ba46050678967bb63f/NorwegianExperimentalList%20alternate%20versions/NordicFilters-NotFirefox.txt#L2-L3

[2021-09-13 10:39] sanjayen commented on #272
@iam-py-test first commit, please check. This will need triaging as I may either have added the code wrongly or added a necessary site.

Have linked to the EasyPrivacy line to reuse the ad network blocks so that it does not break any website.

https://github.com/sanjayen/my_filters_001/commit/0c08609f3b269bee422725f666b09e6beaaab61b

[2021-09-13 11:26] iam-py-test commented on #272
Your commit looks ok.
The only problem is I don’t know about is if Easylist’s license is compatible with my license

I don’t really have the ability to verify your entries now, but can later today

[2021-09-13 11:57] sanjayen commented on #272
Then is there an easier way to not block everything from the ad networks and only stop the request when it is third party?

My thought is - the 3 ad networks (and more in the future) should be blocked when in 3rd party but allowed when accessed directly. The clickbait blocked altogether because they are either the same content or dummy domains.

I am new to this syntax and add uBlock Origin filter

[2021-09-13 12:34] iam-py-test commented on #272
I think that your additions seem ok (I’m no expert on uBlock Origin)

That’s what I do too; it seems to work

[2021-09-13 13:43] sanjayen commented on #272
Can you edit your file, so that the list is compatible with the license you use and also the syntax that you want? I can then take it further and build upon it.

[2021-09-13 20:31] iam-py-test commented on #272
@sanjayen I can't edit your file; I don't have access
You will have to open a Pull Request in my repo & tick the _allow edits by maintainers_.
I would prefer uBlock Origin syntax, but I am open to ideas
I do have an idea of how to get around the license; we could remove the Easylist entries & then say that users should use regular adblock lists in addition to it, as those domains aren't really cli

[2021-09-14 02:52] chirag127 opened #273 "livehindustan.com"
https://www.livehindustan.com/career/story-aktu-upcet-2021-counseling-schedule-released-for-engineering-pharmacy-management-colleges-4454142.html  has "leftover"
<details><summary>Screenshots:</summary>

![image](https://user-images.githubusercontent.com/76880977/133186810-7aca9410-8c99-48f1-a795-cd94bb64f8f1.png)
![image](https://user-images.githubusercontent.com/76880977/133186865-35e544a2-e085-

[2021-09-14 03:43] sanjayen commented on #272
@iam-py-test done. Cleaned up the ad network list and provided a mention to EasyPrivacy.

Also, created a pull request for the first time.

I will go by what you are comfortable with as I am not that experienced with maintaining lists. Also, uBlock Origin syntax works for me as well as I can test and correct it.

[2021-09-14 05:18] THEtomaso commented on #63
@DandelionSprout:
Do you still want me to notify you about ad boxes here, or should I stick to filing reports?
(I only bother to fill in reports for breaking issues)

[2021-09-14 06:41] DandelionSprout commented on #273
Seemingly fixed by the attached pull request.

[2021-09-14 06:41] #273 closed

[2021-09-14 11:07] #272 closed

[2021-09-14 11:21] sanjayen commented on #272
Any thoughts on how we get people to use this filter and keep contributing?

[2021-09-14 11:25] iam-py-test commented on #272
I can try to get it added to filterlists.com, but as my antimalware list was submitted a month or more ago and still has not been merged, it might not work.
I will make a note in the README about it, but that won’t make much of a difference

[2021-09-14 11:51] iam-py-test commented on #272
There seems to be a bit of an issue, as it refuses to load in uBo:
![image](https://user-images.githubusercontent.com/84232764/133251827-d4c1e750-c49e-44d2-be6e-75541eb5afc8.png)
I think the problem was the includes of Easylist, so I removed that until I can investigate further

[2021-09-14 17:33] THEtomaso commented on #63
The thing is, I never file reports for ad boxes, but simply block them with my own filter instead.
I've only been reporting such finds to you, for Norwegian pages, due to the convenience of using this thread.
So, if you want me to continue notifying you about ad boxes here, let me know (I found one yesterday).
..otherwise, I'll limit my reports to breaking issues, like I've always done for other f

[2021-09-14 19:47] krystian3w commented on #63
The way I understand it is that, out of an overabundance of responsibilities, Dandelion prefers to see that he already has "5 issues"  of your discovered vulnerabilities open on the repository, because he can no longer manage to extract them from the notifications (I assume the notifications tab doesn't know how to split this thread into 5 different types of notifications and preferably with an av

[2021-09-14 22:46] DandelionSprout commented on #63
It is of course possible to still report ads/placeholders here; The catch is that they don't get added to my everyday/online to-do lists, meaning that resolving them can occasionally stretch out to up to a week, or in rare cases completely forgot about.

[2021-09-15 05:04] THEtomaso commented on #63
@DandelionSprout:
`##.ad-container` / `##.anonse-label` @ `https://www.vg.no/spesial/corona/`
(Scroll down a tiny bit)

[2021-09-15 20:12] gautamkrishnar commented on #259
@DandelionSprout the website is getting blocked by one of the other entries in your filter now:
![image](https://user-images.githubusercontent.com/8397274/133502566-71abc150-959f-4bfe-a230-89ac4c285d6f.png)

![image](https://user-images.githubusercontent.com/8397274/133502603-f5e09b85-ffde-4868-949b-d1fc09b2c140.png)

Is this an adguard bug?

[2021-09-19 11:27] andersbp opened #279 "Maintain of Danish websites"
Hi

Thanks for a good work regarding the filter to ad-blockers, e.g. AdBlock Plus.

Since I am new to ad-blockers I will ask you about what Danish Website that you filter working on?

Thanks in advance for your answer, and have a nice day.

Regards,
Anders

[2021-09-19 11:33] THEtomaso commented on #63
@DandelionSprout:
`##[class^="AdWrapper"]` @ `https://www.dagbladet.no/video/`

[2021-09-19 11:45] DandelionSprout commented on #279
From what I can tell, my list has entries to block ads or empty spaces on the following 216 non-malware Danish-language websites:
[code]

[2021-09-19 12:34] THEtomaso commented on #63
@DandelionSprout:
`mytastenor.com` needs cleaning up.
`##.panorama` and `##[class*="affiliate"]` seems like obvious selections, whilst some subpages needs a more advanced solution.
E.g. @  `https://www.mytastenor.com/s/kaker.html` / `https://www.mytastenor.com/o/troika-kake-farlig-god-70389461.html`

[2021-09-19 21:45] THEtomaso commented on #269
Pff..
That's nothing compared to what I've removed! :)

[2021-09-21 19:57] iam-py-test commented on #63
@DandelionSprout you may need to update the rule for DuckDuckGo in the antimalware list & other lists to include the onion V3 address: duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion

[2021-09-21 21:16] DandelionSprout commented on #279
With the requested info provided, and no word back from the OP after 2 days, I'll declare this a closed case. Comments will remain open.

[2021-09-22 05:03] THEtomaso commented on #63
@DandelionSprout:
Huge ad @ `https://sol.no/` (scroll down a bit):
`sol.no##[id^="xavier-campaign-pluss]`

[2021-09-22 06:29] krystian3w commented on #63
"Edolako" from ublock issues banned my for comment about ask something on reddit instead in ublock-issues.

[2021-09-22 07:39] #279 closed

[2021-09-22 12:09] bitsper2nd commented on #63
[Oof!](https://www.reddit.com/r/uBlockOrigin/comments/pt0zwn/be_careful_with_certain_filterlists_always_check/)

[2021-09-22 12:10] DandelionSprout commented on #63
The cited descriptions have been changed earlier today anyway.

[2021-09-22 13:40] THEtomaso commented on #63
No one is forced to use those specific filters anyway, so why criticize them?
On a side note, I've received criticism for my own filter (not publicly available) from only one person..
Ironically, that person is DandelionSprout. :)

[2021-09-22 14:14] THEtomaso commented on #63
@DandelionSprout:
Your fix for the myTaste sites breaks some pages!
Example (blank page):
`https://www.mytastenor.com/s/kaker.html`
The ones in Frellwit's Swedish Filter (which I posted) doesn't.

[2021-09-22 14:17] bitsper2nd commented on #63
idk, some people just love to complain about anything on the web. They opt-in, as in by their own free will, to things. If they don't like it, they will complain. Funniest part is that they complain about a third-party filter not included on uBO. They can come here and complain to @DandelionSprout, but like you said, they aren't forced to use it. They can just stop using the filter altogether, but

[2021-09-22 16:27] DandelionSprout commented on #63
Ah, thank goodness. I *genuinely* thought the "Oof!" was targeted at me and was too scared to check my E-mail inbox for some hours afterwards. 😅

I was originally notified of the situation on Slack at maybe 07:00 UTC and did my best to resolve the Reddit complaints for a couple hours, and seeing as Dandelion Sprout's Annoyances List is included in AdGuard (although it is of course an opt-in there

[2021-09-22 16:46] #269 closed

[2021-09-22 16:47] DandelionSprout commented on #269
I have now opted against an overkill-specific list, instead implementing 3 additional gists from https://gist.github.com/gidoBOSSftw5731/15721a09a8be4191baeb4c5606d1a199 into the regular Even More Pure Video Experience list. Comments will remain open.

[2021-09-22 18:14] THEtomaso commented on #63
@DandelionSprout:
Somehow, you've still managed to overlook my post here:
`https://github.com/DandelionSprout/adfilt/issues/63/#issuecomment-922458897`
:)

[2021-09-22 18:16] DandelionSprout commented on #63
The thing about that comment, is that there's already supposed to be an entry for that in Nordic Filters: `~candidate.hr-manager.net##[class^=AdWrapper]:not(html, body)`

[2021-09-22 18:32] THEtomaso commented on #63
In Pale Moon, `:not(html, body)` appears to render that rule usless @ `https://www.dagbladet.no/video/`

[2021-09-22 18:56] DandelionSprout commented on #63
Seeing as up-to-date versions of uBO Chromium, AdGuard and ABP all seem to support `:not(html, body)`, I need a couple days to think through my options.

[2021-09-22 19:01] THEtomaso commented on #63
up-to-date versions of uBO Chromium, AdGuard Browser Extension, and ABP all seem to support `:not(html, body)`
Even so, you seem to be the only one that actually use it!

Alternatively, I guess uBO Legacy's syntax converter easely could be updated to handle those rules of yours.

[2021-09-22 19:14] uBlock-user commented on #63
`:not()` is natively supported by all browsers and is part of the CSS 3 spec - https://caniuse.com/?search=%3Anot()

[2021-09-22 19:22] uBlock-user commented on #63
If Palemoon doesn't support CSS 4 selectors yet, `:not(html, body)` will not work . Support for multiple selectors was brought in the spec for CSS 4.

[2021-09-22 19:53] uBlock-user commented on #63
Browsers have already added support for CSS 4 selectors, see the caniuse link I posted.

[2021-09-22 20:11] THEtomaso commented on #63
Yeah, but that's typical for Chromium.
Google continuously adds support for all types of prototype standards, regardless of how poorly tested, or potentially unsafe, they might be.
Even worse, webmasters are encouraged to code with such standards too, which in turn gives people the false impression that non-Chromium browsers doesn't work properly!
Until a specification has gone final, webmasters s

[2021-09-22 20:12] uBlock-user commented on #63
Not just Chromium, Firefox 84 fully supports it too.

[2021-09-22 20:15] THEtomaso commented on #63
Mozilla copies everything Google comes up with these days.

[2021-09-22 20:20] uBlock-user commented on #63
The point is, it's perfectly okay for Dandelion to include multiple selectors in `:not()` as browsers already support it, except for legacy browsers.

[2021-09-22 20:21] THEtomaso commented on #63
My point is that it isn't! :)

[2021-09-22 23:36] hirorpt commented on #63
Firefox ESR 78 has been still a living browser with security patches but it ends in two months.

[2021-09-23 04:41] uBlock-user commented on #63
Firefox ESR is not legacy, legacy here means non-quantum browsers, so pre-v57.

[2021-09-23 04:57] THEtomaso commented on #63
For the record; Pale Moon is not Firefox, nor a so-called "legacy" browser!

[2021-09-23 10:03] DandelionSprout commented on #63
Thinking about it overnight, I am tempted to make a `Nordic Filters (for XUL uBO)`, but I would need a refresher on what other syntaxes in https://github.com/DandelionSprout/adfilt/blob/master/NorwegianList.txt that aren't supported in uBO-Legacy. So far I only know about `:not(element1, element2)` and `$removeparam`.

[2021-09-23 12:10] krystian3w commented on #63
I suppose path was no fastly backported as ExtendedCSS/cosmetic procedural filtering.

[2021-09-23 16:17] THEtomaso commented on #63
Sounds good! :)

Of course, there's still the matter of `entity-matching in domain= filter`:
https://github.com/gorhill/uBlock-for-firefox-legacy/issues/236/
..but didn't you already have a Legacy filter, which covered those things?
Has it been discontinued?

[2021-09-23 16:29] DandelionSprout commented on #63
IIRC, the previous XUL support I did, was a manually maintained `!#include` file that felt like it took too much effort to support. But this time around, I've got an ace up my sleeve, after I realised 2 days ago: *"Wait, surely it mist be possible to assign a different list URL in the assets.json of uBO-Legacy, than in the normal uBO?"*

If that is indeed as possible as I think it is, it opens up

[2021-09-23 18:40] krystian3w commented on #63
IMO better create togrther base and only bugged syntax copy to supplement.

Your pi-hole started inject CSS into sites?

[2021-09-23 22:24] DandelionSprout commented on #63
"Pi-hole" was just me making a random pick from https://github.com/DandelionSprout/adfilt/tree/master/NorwegianExperimentalList%20alternate%20versions, presuming that saying uMatrix or Privoxy instead would not make the point come across quite as clearly. 😅

[2021-09-23 23:34] krystian3w commented on #63
@DandelionSprout / @iam-py-test  I found Polish FP - blockde by line: https://github.com/DandelionSprout/adfilt/blob/551c28a3305b84a5e76ebc6a2c0bd476a9a5c2cf/Dandelion%20Sprout's%20Anti-Malware%20List.txt#L25

`https://fajne.agency/`

this will be new addres for domain:

https://www.google.com/search?q=red-studio.eu (rebranding)

[2021-09-23 23:38] iam-py-test commented on #63
Looking into it. Thanks

[2021-09-23 23:44] iam-py-test commented on #63
@krystian3w a few questions.
This domain seems to just redirect to a domain which looks the same except with the .live TLD. There seems to be a lot of variations on it which all resolve to that IP:
![image](https://user-images.githubusercontent.com/84232764/134597619-7c997d99-cb02-4d73-9f79-69c9d786080b.png)
However, it seems ok, and none of my AVs detect either the domain or the end point.
I thin

[2021-09-25 16:58] krystian3w commented on #63
@Yuki2718 scam links on yt:

https://www.youtube.com/watch?v=q60unFXYUeU

these are active:

[code]

[2021-09-25 17:03] iam-py-test commented on #63
VirusTotal scans:
https://www.virustotal.com/gui/url/a7fb846c9f8aefecbe0ffda1aecbb6a3d257f0b31a9b922aa49d494af0f0c112?nocache=1
https://www.virustotal.com/gui/url/c9ded02c50f3047557fcf0f0bbcd34ca4d9e34a5df83b9715d1d705420ed6352

[2021-09-25 17:08] krystian3w commented on #63
https://www.virustotal.com/gui/url-analysis/u-1ad809b7fb61aacf42b220a53909ce18d955b9ad6fe1fa9e7b0e3f70ba8eadf5-1632589677

[2021-09-25 17:10] iam-py-test commented on #63
Give me a while to list the domains I find; there's a ton of them

[2021-09-25 17:18] krystian3w commented on #63
Because yuki use regex to found: `/?u=*&o=*&t=*`.

[2021-09-25 17:33] iam-py-test commented on #63
Domains I found (only a few of the ones resolving to that IP):
[code]

[2021-09-25 17:42] Yuki2718 commented on #63
Need to know full URL than domain. Direct vist returns "Under construction" message on my end.

[2021-09-25 17:48] krystian3w commented on #63
And one is banned in EL by name of domain with public suffixe.

[2021-09-25 17:58] krystian3w commented on #63
IMO we can paste at end `/?u=m7qpte0&o=ftakh0p&t=S1` and few domains again works... 🤔 😣.

NWSF or scams
[code]
![Zrzut ekranu z%A02021-09-25 o%A019 57 11](https://user-images.githubusercontent.com/35370833/134781432-4134dd70-0f9f-4035-a8f8-8d9b97cd90db.png)

[2021-09-25 18:17] Yuki2718 commented on #63
`/^https:\/\/[-0-9a-z]{12,19}\.(com|life)\/\?u=[0-9a-z]{7,}&o=[0-9a-z]{7,}&t=S1/$doc,domain=com|life`
It could be more aggressive if doesn't include `com`.

[2021-09-25 18:54] krystian3w commented on #63
Try ask volunteers in private github team?

[2021-09-25 20:30] iam-py-test commented on #63
I just found these with VirusTotal. All the domains are detected by at least 4 engines, most far more.
I don't have full urls

Looks good. Do you mind if I steal your RegExp?

[2021-09-25 21:09] spirillen commented on #63
@Yuki2718

Isn't the last part of the rule `,domain=com|life` double, as it already is part of the regex that it have to match either of com or life as tld?

[code]

@krystian3w You are loosing me in this comment https://github.com/DandelionSprout/adfilt/issues/63#issuecomment-927151458, do you mean there are references to pornographic sites in this video or in it's comment section, also you are a

[2021-09-25 21:10] spirillen commented on #63
PS: `(vun.fyi|vur.fyi)` redirects to `findyour-realsex2.com`

[2021-09-25 21:10] iam-py-test commented on #63
They are talking about the domains the guy in the video is warning people about

[2021-09-26 09:27] DandelionSprout commented on #63
From what I can tell, `fajne.agency` instantly redirects to `fajne.life` nowadays, meaning that a whitelisting for the former is no longer necessary.

If there's any other important things in you guys' chat yesternight that I missed out on, I'd need a summary of such.

[2021-09-26 10:59] spirillen commented on #63
@iam-py-test

That part I figured out, but not his purpose, as it isn't pornographic, but adware for (as I recall from some years ago) for adult cam sites. the mentioned domains have nothing to do with adultery contents. If I should reclassify any of them it would be to adware/bait sites/(malicious)/redirector but never in the NSFW category.

That's why I'm asking @krystian3w of his intention for

[2021-09-26 13:03] Yuki2718 commented on #63
The filter was posted for share and discussion so no problem. Keep in mind AG doesn't support $domain=TLD so if you want yours to be used in AG, remove the part.

This ensures the filter to be examined only on `.com` or `.life` domain on uBO, IOW for better performance. Although it's tokenizable by the last parameters so will be evaluated only if a request has them (*).

* Strictly, `https` is als

[2021-09-26 13:04] krystian3w commented on #63
@DandelionSprout

No, `fajne.life` is private blog, not for own company page.

[2021-09-26 13:11] krystian3w commented on #63
Retest in AdGuard Addon 4.0.0 and Windows AdGuard app 8.0.0? IMO AG team unlocked `domain=TLD` for <b>regex</b>es.

[2021-09-26 16:10] GenusGeoff opened #283 "Invalid Domains"
Sample of invalid domains:
      - discord-give.$all
      - discord-nitro-gift.$all
      - discord-nitro.$all
      - discord-nitros.$all
      - free-discordnitro.$all

[2021-09-27 00:14] #283 closed

[2021-09-28 00:55] krystian3w commented on #63
**Github.com** added icon repository/owner avatar in left sidebar for me only?

[2021-09-28 19:06] S-a-l-a-d opened #284 "avgle.com => false positive"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

This is a porn website but is listed in Alternate versions Anti-Malware List. The result is the website is blocked as a whole.

### Add screenshots below if needed

_No response_

### Add a screenshot of the extension's logger

_No response_

### Which adblocker(s) did you use when testing t

[2021-09-28 19:21] DandelionSprout commented on #284
I struggle to remember why I even added that website in the first place. I apparently listed it in the category for websites hosted by `192.243.59.12`, but SecurityTrails indicate that it's not the case. I'll remove it in a couple minute.

[2021-09-28 19:32] #284 closed

[2021-09-29 21:17] iam-py-test commented on #63
No. It is the same for me

[2021-09-29 21:20] iam-py-test commented on #63
@DandelionSprout you will need to update your lists (i.e. Tor redirector) with the new Tor V3 addresses

[2021-09-30 21:04] iam-py-test commented on #188
@DandelionSprout some new domains which I found when visiting `gogle[.]net` in a VM:
[code]

[2021-09-30 21:19] spirillen commented on #188
Hey @iam-py-test

I would really like to know how you get these redirects, you mentioned them here too.

https://mypdns.org/my-privacy-dns/matrix/-/issues/1883

If you in any way can get some headers or other cool logs showing what is happening would be cool.

[2021-09-30 21:22] iam-py-test commented on #188
Sorry; I can not provide logs.
I can try to go back and will record

[2021-09-30 21:27] DandelionSprout commented on #188
(To spirillen in particular) From what I understand, iam-py-test is testing in real-time, to look for redirections that sometimes may not even last half a second before the next redirection.

[2021-09-30 21:35] iam-py-test commented on #188
Also, Imre is right. I often can't get all of them
Recording: uploading...

[2021-09-30 21:35] iam-py-test commented on #188
@DandelionSprout wait.
There are more.....

[2021-09-30 21:42] fosam opened #285 "Persistent ads "Annonsørinnhold""
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

Hello Imre!

I tried to block the ads called "Annonsørinnhold" that appear in articles but when i refresh the page they re-appear.

[Example Article](https://e24.no/naeringsliv/i/lVv2a9/reagerer-paa-norwegian-innstramming-nei-nei-nei)

Do you have any tips on how to stop these kind of ads? t

[2021-09-30 21:44] iam-py-test commented on #285
First, verify that My Filters is enabled under the filters panel
This happened to me once and that was the problem

Try backing up your settings and then resetting to defaults, and trying again

Then scan your computer with https://malwarebytes.com/adwcleaner

[2021-09-30 21:45] DandelionSprout commented on #285
I can reproduce this with ease. A simple `e24.no##.teaser__preview` seems sufficient at first glance, I just need to test it for a couple minutes.

[2021-09-30 21:46] spirillen commented on #188
That's true @DandelionSprout And to be honest I tried to follow the same pattern a couple of years ago, but with no success.

Is you was using  a browser you some times get a redirect, but when you are using curl, lynx or any other text based "browser", the redirect never happens.

My question to @iam-py-test relays to his VM's where he might have installed some logging tools to catch these incide

[2021-09-30 21:47] iam-py-test commented on #188
@spirillen watch my recording (here - https://iam-py-test.github.io/Data/recording1.zip)
These are clearly malware

[2021-09-30 21:48] iam-py-test commented on #188
I can try and use Wireshark...

[2021-09-30 21:51] fosam commented on #285
@DandelionSprout But do they re-appear when you refresh the page?

[2021-09-30 21:52] DandelionSprout commented on #285
Not on my end, at least. iam-py-test may have been on to something when he suggested checking if "My Filters" was turned on, although a fix in Nordic Filters will be added in approx. 2min anyway.

[2021-09-30 21:54] #285 closed

[2021-09-30 21:55] spirillen commented on #188
Wireshark will only intercept the network traffic as far I know, it is the HTTP code from the server response header or any other HTML redirects code we need to figure out what actually happens.

But I'm always happy to be proven wrong... yeah weird right, but I will learn something new those days

[2021-09-30 21:56] iam-py-test commented on #188
I can write a browser extension to log that, but it would take some time.

[2021-09-30 21:57] fosam commented on #285
Yes, i made sure `My Filters` was turned on.

I see that you added the fix, how do i update? uBlock doesn't show "update now" yet.

[2021-09-30 21:59] DandelionSprout commented on #285
Generally speaking, you can click on the clock logo on the list's row in the uBO settings. This will trigger the update prompt's appearance.

[2021-09-30 21:59] iam-py-test commented on #285
Wait a little while and click Purge Caches and then update now:
![image](https://user-images.githubusercontent.com/84232764/135535672-d0e6f365-5438-41c9-b18b-e0c66d4c3a54.png)

[2021-09-30 22:06] fosam commented on #285
@DandelionSprout @iam-py-test

Thank you very much guys! i usually don't play alot with uBlock hence my update question, now i forced an update and refreshed the page many times but the ad did not appear, so i think maybe i was blocking the wrong element, Thanks again 👍

[2021-09-30 22:07] iam-py-test commented on #285
Glad we could help

[2021-09-30 22:08] spirillen commented on #188
That would be exceptional for many people to have a tool that can record such things :)

What I can't understand in all of this is why snoogle would put there name to this malware?

[2021-09-30 22:15] iam-py-test commented on #188
Logging all requests...
Will post log

[2021-09-30 22:23] iam-py-test commented on #188
CC @DandelionSprout @blocklistproject

[2021-09-30 22:28] spirillen commented on #188
the first ~46 lines looks interesting for further investigation :+1: will have to sort them by domains for my case.

Will follow up on them tomorrow if you haven't created the MR on mypdns before me :+1:

Thanks for your good work @iam-py-test

[2021-09-30 22:31] iam-py-test commented on #188
I will try to upload the tool I create to GitHub just encase you find it helpful (right now its less complex then the uBo logger, but I am thinking of adding more features)

I will be busy most of tomorrow, so probably won't be able to open a MR.

[2021-09-30 22:34] DandelionSprout commented on #188
The list contained a fair few legitimate domains, including `Facebook` and `YouTube`, as well as ones that would already be blocked by EasyList (incl. `doubleclick` and `addthis`). This means that I simply cannot use that list verbatim, but there are approx. 30 domains that are more than interesting for me to add. Give me 15min.

[2021-09-30 22:35] iam-py-test commented on #188
I am working on filtering it

[2021-09-30 22:40] iam-py-test commented on #188
Filtered and removed domains I am sure are legit:
[domains_file.txt](https://github.com/DandelionSprout/adfilt/files/7262889/domains_file.txt)

[2021-09-30 22:41] DandelionSprout commented on #188
I'll add those additional entries sometime today (Friday).

[2021-09-30 22:42] iam-py-test commented on #188
I will try to blocklist in my lists as well.
I can open a PR maybe tomorrow...

I think that was fixed in the second one

[2021-09-30 22:43] DandelionSprout commented on #188
Ah, okay. They had not been removed at the time https://github.com/DandelionSprout/adfilt/issues/188#issuecomment-931752781 was posted.

[2021-09-30 22:44] iam-py-test commented on #188
I am aware. I check it to make sure it uploaded correctly and saw that

[2021-09-30 23:10] spirillen commented on #188
That not all of it. some of them are obfuscated as parked/hijacked domains, just take `cpmstatsart.com`usually i would place that as a Hijacked (sharked) domain, not it is also used for scamming trough functioning as ? haven't decoded yet

`http://cpmstatsart.com/mnz/v1?placement=d52af548-a561-11e7-9ab5-02c1c5ed83e8&source=134`

it a lot of work you have posted there...

[2021-09-30 23:19] iam-py-test commented on #188
I haven't checked, but I'd bet a lot of these are not detected by many AVs
We should do a mass report to AdGuard/uAssets
CC @blocklistproject @Yuki2718

[2021-10-01 18:01] THEtomaso commented on #63
@DandelionSprout:

Article sidebar fix for `cw.no`:
[code]
Example: `https://www.cw.no/artikkel/telia/telia-apner-5g-nettet-stavanger-sola-sandnes`

[2021-10-01 20:09] iam-py-test commented on #63
@THEtomaso I see the ads.
`Your filters do seem to work, and I don't see any breakage.

I do see a few other things that might be ads (not sure), so I am not going to block them yet.
My filters:
[code]

[2021-10-01 20:18] krystian3w commented on #63
I see github.com added marker tag into nick name like:

@krystian3w

[2021-10-01 20:37] THEtomaso commented on #63
As for those `$subdocument` rules, DS's Nordic filters have those things covered with the following rule, I think:
`no##+js(ra, class, .dfp-loaded)`
(Legacy version: `no##+js(remove-attr.js, class, .dfp-loaded)` )

Not sure what you're targeting with that `...spot` rule, but I already have these in my own filter:
`cw.no##.spot:has-text(nyhetsbrev)`
`cw.no##.spot:has-text(Prøv Computerworld)`
This

[2021-10-01 20:38] iam-py-test commented on #63
I noticed that too. Now I know it was not just me

[2021-10-01 20:42] iam-py-test commented on #63
I added the original filters in https://github.com/DandelionSprout/adfilt/commit/735b6a1e71a2257fc6bb23886767d3e1f225d518
If there are improvements/errors please say something

[2021-10-01 20:55] krystian3w commented on #63
I see this is added in inline CSS:

`.user-mention[href$="/krystian3w"]`

[code]

Maybe helps:

`github.com##style:has-text(.use-mention):remove()`

[2021-10-01 20:59] iam-py-test commented on #63
@krystian3w thanks for the filters
I don't think they are annoying but someone else might

[2021-10-01 21:01] iam-py-test opened #287 "Scammers"
I visited a YouTube typo-squatt in a VM, and this was what happened:
![image](https://user-images.githubusercontent.com/84232764/135685234-42cb6776-9928-473f-a4be-bdb584e896ae.png)
![image](https://user-images.githubusercontent.com/84232764/135685249-7a09e298-92d5-4299-a724-081778191378.png)
![image](https://user-images.githubusercontent.com/84232764/135685262-b4a2020d-76a8-4bb4-b489-677cc17e3d73.

[2021-10-01 21:02] iam-py-test commented on #63
@THEtomaso thanks!
Added

[2021-10-01 22:34] DandelionSprout commented on #287
`dotomi` is already in several major lists, but I'll add the other 8 real quick.

[2021-10-01 22:36] #287 closed

[2021-10-01 22:43] iam-py-test commented on #287
Ok. I didn't filter those at all apart from removing legit and redundant domains

[2021-10-01 23:04] iam-py-test commented on #188
Even more domains
[gogle_net_domains.txt](https://github.com/DandelionSprout/adfilt/files/7270467/gogle_net_domains.txt)

[2021-10-02 21:50] iam-py-test opened #288 "Even more scammers"
Here are some more scammers.
I did not get any screenshots but there was nothing unique (_you have a virus_, fake survey, etc)
URLs: [fake_discord_1_urls.txt](https://github.com/DandelionSprout/adfilt/files/7272248/fake_discord_1_urls.txt)
Domains: [fake_discord_1_domains.txt](https://github.com/DandelionSprout/adfilt/files/7272254/fake_discord_1_domains.txt)
Filters:
[code]
 Maybe I should just o

[2021-10-03 04:42] DandelionSprout commented on #288
I'll take care of them real quick. Thanks in advance.

[2021-10-03 04:44] #288 closed

[2021-10-05 15:03] lemows opened #292 "Youtube and twitter problem"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

hello bro I've been using your filter for a very long time, but recently there was a problem with youtube and twitter, there are details in the picture, when I searched from the adguard site filtering log this is:

twitter.com#@#div[data-testid=sidebarColumn]** section > div[aria-label]
twit

[2021-10-05 19:04] DandelionSprout commented on #292
From what I can tell, blocking YouTube video recommendations, and Twitter "What's Happening / You might like / Popular", is fully intentional behaviour by *Dandelion Sprout's Annoyances List*.

In Twitter's case it's because Twitter trends and news bear no resemblance to any known dimension of existence, and in YouTube's trend I've found five info pages that can help explain:
[code]

[2021-10-05 20:49] lemows commented on #292
Ok Thanks

[2021-10-05 21:10] THEtomaso commented on #63
YouTube captions are enabled by default now.
Any suggestions for a uBO rules which forces their initial state to be off?

[2021-10-05 21:42] krystian3w commented on #63
Wut?

If we have account can by disable for ever, but you perfere don't create Gmail/Google/YouTube fake account?

[2021-10-05 22:06] THEtomaso commented on #63
I never log on to YouTube.
Instead, I was rather thinking 'bout something along the lines of `youtube.com##+js(set-constant.js, captionsInitialState, 0)`, except that it needs to actually work, of course! :)

[2021-10-05 22:30] DandelionSprout commented on #63
I kinda love YT captions, to be honest. At least the human-written ones.

[2021-10-06 05:06] THEtomaso commented on #63
Well, I hate them.
In lack of a better solution, I'll simply use this, for now:
[code]

[2021-10-06 16:38] DandelionSprout commented on #63
It could take some time before that domain can be whitelisted, because uploading edits or images to GitHub gives me a lot of `ERR_SSL_VERSION_OR_CIPHER_MISMATCH` Chrome errors today.

[2021-10-07 18:43] iam-py-test commented on #272
@sanjayen any new domains?
If you have any, you can report them at https://github.com/iam-py-test/my_filters_001/discussions/86, as it is easier to check there instead of this issue

[2021-10-08 02:51] sanjayen commented on #272
sorry @iam-py-test I have been busy at work.

Will see if I can get some time over the weekend and update.

Will use https://github.com/iam-py-test/my_filters_001/discussions/86 to update

[2021-10-08 20:08] THEtomaso commented on #63
Missing space between exclamation mark and hashtag?

[2021-10-08 20:33] iam-py-test commented on #63
No effect:
![image](https://user-images.githubusercontent.com/84232764/136621597-dbb6434b-6e6b-4aab-92e7-2a1932284ebf.png)
I know for a fact that the file it is including exists and is valid, as I have it in uBo right now

[2021-10-08 20:34] iam-py-test commented on #63
I also had the same problem a while back when I tried to include Easylist into one of my lists. It refused to work even though the url was both valid & hosted on the same domain

[2021-10-08 20:50] iam-py-test commented on #63
Not sure what you mean

[2021-10-08 20:58] THEtomaso commented on #63
Yes, in Pale Moon.
But I'm also using the latest version from the main branch, in Chromium-ungoogled.

[2021-10-09 00:54] krystian3w commented on #63
IMO nope, your directory is `/Sandbox/` not nickname

Also AdGuard mark import list as invalid, but in tutorial added synatax `../` (known from html/css files).

https://kb.adguard.com/en/general/how-to-create-your-own-ad-filters#including-a-file

[2021-10-10 05:39] DandelionSprout commented on #63
`1881.no##.feature-promo` seems to successfully block the ads, but I do indeed see two or three huge placeholders I can take care of this morning too. Give me 20min.

Seemingly out of security concerns, both uBO and AdGuard reject lists that try to use `!#include` to embed from another repo, or even to embed from a parent folder.

[2021-10-10 08:30] THEtomaso commented on #63
Yeah, but they're self-promoting ones.
I thought that you didn't block those?

[2021-10-11 06:43] DarthVaderJPA3 opened #299 "I found the problem, and it's a bug in uBO.."
I found the problem, and it's a bug in uBO..
I have this rule in my own filter list:
`vg.no##+js(abort-current-inline-script.js, Math.floor, g00)`
It is the same rule as this one (found in DS's Nordic list):
`vg.no##+js(acis, Math.floor, g00)`
The only difference is that the rule in my filter list uses the legacy syntax.
When the two rules are used together in **uBO v1.25.0**, this page fails to l

[2021-10-11 22:08] krystian3w commented on #63
Yeah.

[2021-10-11 22:13] krystian3w commented on #299
https://github.com/gorhill/uBlock/commit/034c915f3be1257ed5de638a456e7c95932c553d

[2021-10-11 22:52] krystian3w commented on #63
GURU scam with redirection to TOP "publicsuffix":

`https://aselink.guru/?u=k8pp605&o=c9ewtnr&t=redn`

[2021-10-12 00:39] DandelionSprout commented on #299
Okay, so let's see if I understand this report correctly: You (DarthVaderJPA1) are wondering where the old builds are? This is a rather odd place to ask this, but looking into this, it seems that https://github.com/gorhill/uBlock/tags delete beta builds after the release of a full version. So the closest you can find are 1.24.4 stable, and 1.25.0 stable.

[2021-10-12 11:29] krystian3w commented on #299
Other - to bannish in uBo Badware risk or in "Danedelion Anti-Malware filters list".

In 1% maybe in "UrlHause" or "spam404" projects.

[2021-10-12 11:30] THEtomaso commented on #299
OK, I see.
I'm blocking that whole TLD by default, anyway. :)

[2021-10-12 20:27] potassiumchloride opened #300 ""Actually Legitimate URL Shortener Tool" breaks article download from pubs.rsc.org"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

After adding the list "Actually Legitimate URL Shortener Tool" to uBO it is no longer possible to download/open any published article from pubs.rsc.org, because the required items on the right side of the page are blocked. See screenshots below! Take this URL as an example: [https://pubs.rsc

[2021-10-12 20:36] #300 closed, assigned to nobody

[2021-10-13 00:14] DandelionSprout commented on #299
My impression of GitHub's mod team, is that they're *very* cautious about banning accounts, failing to ban e.g. serial bullies or outright psychopaths. So I sadly don't think GitHub would be willing to ban an account who has only posted on 2 repos so far.

[2021-10-13 05:24] THEtomaso commented on #63
@DandelionSprout:

Subscription popup @ `elbil24.no` and `vi.no`:
`/offer-modal-*$script,domain=elbil24.no|vi.no`

Self-promoting, but overly aggressive, don't you think?

[2021-10-14 01:25] DandelionSprout commented on #299
With OP never replying to this thread ever since, I think I can at least close this thread.

[2021-10-14 12:25] rusty-snake opened #301 "Actually Legitimate URL Shortener Tool breaks logout (and possible other function) in phpBB forums."
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

https://github.com/DandelionSprout/adfilt/blob/c43106c763ca2a6dbb4dc30f12e1e59685cade15/LegitimateURLShortener.txt#L550

breaks logout (and possible other function) in phpBB forums with "your session does not match" like error.

Possible Fix:
[code]

See also: https://github.com/tumpio/reque

[2021-10-15 20:31] iam-py-test commented on #63
Something of interest: https://blog.malwarebytes.com/web-threats/2021/10/adblocker-promises-to-blocks-ads-injects-them-instead/
Google seems to have taken it down but Microsoft has not.
Microsoft url: https://microsoftedge.microsoft.com/addons/detail/allblock/nkllnmjaaifdphkfbmedklkimjmnjeen
Website: `allblock[.]net`
I installed it on a VM & it did nothing (I did not notice any obvious adware beha

[2021-10-16 08:38] THEtomaso commented on #63
It was all over the place, but it's gone now.

I'll be keeping that blocking rule, but if it appears on any of Aller Media's other sites, I'll let you know.

--

You've added the wrong URL.
It should be `.com`, not `.no`

[2021-10-16 19:13] THEtomaso commented on #63
Ah, I see.
Quite logical actually. :)

[2021-10-16 19:18] THEtomaso commented on #63
Somehow I assumed that spaces were deviders for separate classes.

[2021-10-16 19:19] krystian3w commented on #63
Yeah, and page put 2 classes before "Google".

[2021-10-16 19:25] THEtomaso commented on #63
What threw me off was uBO's picker.
It shows dots instead of spaces, which in my head ment `##.` :)

[2021-10-16 21:48] iam-py-test commented on #63
My guess is that `##.class` selects elements with the class _class_ while `##[class=“class”]` selects elements with the attribute `class` set to exactly _class_, and `##[class*=“class”]` selects elements whose class attribute equals _class_.
The first would select an element with `class=“class”` and an element with `class=“other class”`. The second would select an element with  `class=“class”` but

[2021-10-17 18:13] THEtomaso commented on #63
On a side note, I don't understand why people would allow connections to any `.cn` domain, unless you're from China.
Been blocking that TLD for a long time myself.

[2021-10-17 18:49] krystian3w commented on #63
Ask gorhill to translate host files into `^$all` instead only `doc+css+js+xhr+websocket` (he omit block inline-font/scriptish).

[2021-10-17 21:27] iam-py-test commented on #63
That is a good idea, but that is not my issue.
What I would think is that `example.com$document` , `example.com$all`, and `||example.com^` would all translate to `||example.com^$document` (plus the other modifiers) and all get counted.
@gorhill your opinion?

[2021-10-18 09:22] Yuki2718 commented on #63
I'd say it's bad idea. PL is a default list and we occasionary see false positive by the list. Make the rules `$all` will make the damage worse.

[2021-10-19 22:32] krystian3w commented on #63
Winter is coming:

[2021-10-19 22:36] iam-py-test commented on #63
@krystian3w it just shows a little icon saying _One moment please..._.

[2021-10-19 22:38] krystian3w commented on #63
Nope, this is new lazyload animation on homepage.

[2021-10-19 22:38] iam-py-test commented on #63
Then what is _winter is coming_ mean?

[2021-10-20 21:47] iam-py-test opened #308 "Removing PUPs from Google Play/Apple App store/etc"
I would like to submit some entries to DandelionSprout's Anti-malware from my lists, but I decided to not make a PR as I am not sure which section they belong in.
Entries:
[code]

[2021-10-21 09:22] HankAviator commented on #264
Relating to [Staying On The Phone Browser](https://github.com/DandelionSprout/adfilt/blob/master/stayingonbrowser/Staying%20On%20The%20Phone%20Browser) , I am submitting some QR code promo entries of Chinese apps, Chinese company's service WeChat subscription account (channel) and their WeChat miniapps which function as a regular app. The borderline is still very blurry for me but I once decided t

[2021-10-21 09:42] THEtomaso commented on #63
Much of my point being that if people don't understand the language, then you won't visit any of those pages anyway.
..and since the abusement levels for `.cn` and `.tw` in particular, is very high, blocking them by default certainly makes sense!:
`https://www.spamhaus.org/statistics/tlds/`

But like I mentioned; I DO have some exceptions for those blocking rule of mine.
For `.cn`, this mostly inv

[2021-10-21 10:29] THEtomaso commented on #63
![winteriscoming](https://user-images.githubusercontent.com/9382674/138260236-c0ae68e5-b74b-47c6-bfa3-ef04faa01744.gif)

[2021-10-21 10:30] DandelionSprout commented on #264
I lack experience with WeChat, but the general rule of thumb, is that if a button or link tells you "Download our app", "Download on Google Play", or anything similar, it's going into *Staying on the Phone Browser*.

So far I've been to many practitioner visits, and have ruled out diabetes, gout, blood allergies, low/high metabolism, COVID, and vitamin deficiencies. The main remaining possibilitie

[2021-10-21 10:34] DandelionSprout commented on #308
There are currently no categories for these, such that I need to think about how feasible the entries are, and how easily laymen can end up installing them on a whim or by accident.

[2021-10-22 01:46] HankAviator commented on #63
I don't even read news from such sources🤣 despite the language the povs are just insane...

I suppose by residing in EU you probably won't need CDNs located in Asia either?

[2021-10-30 16:17] DandelionSprout commented on #63
I lack any experience with `Instream`(?), so I'd take an unqualified wild guess that Fanboy and potentially other adblock community members react instinctively when seeing video floaties in the lower right of a browser window.
——————————————————

I don't really mind the new colour.

[2021-10-30 16:22] krystian3w commented on #63
I converted CSS from to user.css/user.js:

https://greasyfork.org/pl/scripts/434685-github-red-closed-icon-issues

As long nobody report copyright strike.

PS. I no prefere convert css to uBo list.

[2021-10-30 16:26] krystian3w commented on #63
Or East pages serve only useful video in floating version, but Polish Interia/Onet/WP most embeded to articles off-topic videos.

[2021-10-30 16:35] iam-py-test commented on #63
It worked. Thanks:
![image](https://user-images.githubusercontent.com/84232764/139541560-62e8fb99-a853-4e8b-80cb-7d07e1a05d01.png)

[2021-10-30 17:03] krystian3w commented on #63
I had to add small fix in `.user.css`/`user.js` version:

https://greasyfork.org/pl/scripts/434685-github-red-closed-icon-issues/diff?v1=983674&v2=983668

due no inject css by `tabs.insertCSS()` (addon use this similar as uBO too).

[2021-10-30 19:57] krystian3w commented on #63
I hacked inline `important` as long MS use variable:

https://greasyfork.org/pl/scripts/434685-github-red-closed-icon-issues/diff?v1=983701&v2=983674

[2021-10-30 20:07] krystian3w commented on #63
Draft wikia is broken?

`https://github.com/uBlockOrigin/uBlock-issues/wiki/wiki/Privileged-Pages`

opens:

`https://github.com/uBlockOrigin/uBlock-issues/wiki/wiki`

[2021-10-30 20:08] iam-py-test commented on #63
I think there is a typo in your URL. Its https://github.com/uBlockOrigin/uBlock-issues/wiki/Privileged-Pages

[2021-10-30 20:09] krystian3w commented on #63
Not my but webmaster.

[2021-10-30 20:10] iam-py-test commented on #63
Huh?

[2021-10-30 20:10] krystian3w commented on #63
Copy from devtools.

[2021-10-30 20:11] iam-py-test commented on #63
Ah. Where?
Both links on the uBo wiki work

[2021-10-30 20:18] gwarser commented on #63
Links are broken when in preview mode. But I cannot find the exact case.

[2021-10-30 20:20] krystian3w commented on #63
I agree, so the best clear history links.

[2021-10-31 16:51] iam-py-test commented on #63
@DandelionSprout dumb scam site:
![image](https://user-images.githubusercontent.com/84232764/139593713-1ecc24ff-30ca-4be2-85a2-7e0f220c6abe.png)

It loads an iframe and then styles it to look like the login page opened in a new window.
Doesn't check my user agent so the fake popup claims to be from Chrome despite the browser being Edge
They don't even check if I'm on Linux to adjust the UI to fit:

[2021-10-31 18:52] krystian3w commented on #63
I reported here: https://incydent.cert.pl/domena

[2021-10-31 21:14] iam-py-test commented on #63
Also reported to [Netcraft](https://report.netcraft.com/submission/JEw1WREAB3NKs9S2NFvNPvhfplL9YuK2?tab=urls)

[2021-10-31 21:59] krystian3w commented on #63
Poland Banned domain for the most standard DNS in Polish ISP.

[code]

[2021-10-31 22:06] iam-py-test commented on #63
The links you posted are broken by the way

[2021-10-31 22:35] krystian3w commented on #63
Nope, this is workaround due github no allow use abbr and legacy acronym:

https://www.w3schools.com/tags/tag_abbr.asp
https://www.w3schools.com/tags/tag_acronym.asp

[2021-10-31 22:37] iam-py-test commented on #63
GitHub changed the UI for Halloween?
![86683133-D2C3-47CF-ACBF-36FF12205EBC](https://user-images.githubusercontent.com/84232764/139603448-d85b3718-2176-4b63-8c77-a5c73b923af3.png)

[2021-10-31 22:40] krystian3w commented on #63
Also I have orange/yellow.

[2021-11-01 20:27] iam-py-test commented on #63
I'm having an issue with Google Slides & am wondering if anyone else can reproduce:
![image](https://user-images.githubusercontent.com/84232764/139735846-2eb53354-2b53-4809-9226-a15a6334fac6.png)
It goes away when I allowlist slides.google.com in uBo, so I'm pretty sure one of my filterlists is the cause. It persists across browsers (I've tried at least 3) and still happens when I reset to default

[2021-11-01 20:55] uBlock-user commented on #63
https://github.com/uBlockOrigin/uAssets/commit/e38900159613a1007d03df5b7f1856dfd858b1bc

[2021-11-01 20:56] iam-py-test commented on #63
Thank you for fixing that!

[2021-11-01 21:02] uBlock-user commented on #63
On some sites redirection for XHRs no longer works due to CORS, which is unfortunate.

Firefox spews this in the dev tools - `Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at data:text/plain;base64,Cg==. (Reason: CORS request not http).`

[2021-11-01 21:06] iam-py-test commented on #63
It works after force-updating all filter lists and reloading:
![image](https://user-images.githubusercontent.com/84232764/139742139-2355a44c-9089-4db9-8584-72c9435b6526.png)

[2021-11-01 21:49] iam-py-test commented on #63
@DandelionSprout what is the criteria for adding an IP to your blocklist?
I have found a report about an IP doing (malicious) port scanning and was not sure if it would match the criteria for a block

[2021-11-01 22:28] iam-py-test commented on #63
New scam: https://github.com/iam-py-test/investigations/blob/main/2021/11/1/1.md

[2021-11-02 08:00] DandelionSprout commented on #308
Looking at `https://download.cnet.com/security-antivirus/windows/?sort=featured&price=free&price=freeToTry&category=security-antivirus again`, I notice that of the little over 500 antivirus softwares listed in that category, perhaps 300 of them are simply too old to be useful for anyone (At least 2 of them were for Windows 98), and at least 80 can be presumed to be spyware or malware.

So removing

[2021-11-02 10:38] iam-py-test commented on #308
Ok. I guess this is a `wontfix`.

Which 80?

[2021-11-02 10:52] DandelionSprout commented on #63
The most common criteria, is if the IP is the registered host of a bunch of malware sites, while also hosting no apparently legitimate sites. Port scanning can be sent to the (somehow mostly discontinued, as it was very active before) https://github.com/DandelionSprout/adfilt/blob/master/AdGuardHomeDisallowedIPs.txt

[2021-11-02 10:55] iam-py-test commented on #63
As its only one instance of port scanning against customers, I don't think it really qualifies.

[2021-11-02 11:02] DandelionSprout commented on #308
The CNET and Softonic parts have sadly become `wontfix` by now. I'll look into the Google Play entries sometime this week.
————————————

`https://download.cnet.com/Roboscan-Internet-Security-Free-32-bit/3000-2239_4-75737326.html` is one of the cases where an antivirus has a title that cannot possibly be trustworthy.

[2021-11-02 11:04] iam-py-test commented on #308
All I could find on Roboscan was this old review: https://www.youtube.com/watch?v=wIL-lfvv4r0
Probably not relevant.

[2021-11-02 17:35] felix-22 commented on #63
Can anybody access this site: https://github.com/uBlockOrigin/uAssets/issues/10162#issuecomment-957928670

[2021-11-02 20:01] iam-py-test commented on #63
I can't.
![image](https://user-images.githubusercontent.com/84232764/139943444-efd0c1e6-a481-4ac2-82b6-0025e909c87f.png)

Not even via Tor.

[2021-11-02 21:37] THEtomaso commented on #63
![ubo-blockedsite](https://user-images.githubusercontent.com/9382674/139955260-cde56cb1-2c94-4e2d-8533-ae424566d86b.jpg)

[2021-11-02 21:39] iam-py-test commented on #63
Interesting... I never saw that as uBo wasn't installed on my VM
I checked & it seems to be blocked as scam site

[2021-11-03 06:29] felix-22 commented on #63
OK, if it's already blocked in Dan Pollock’s hosts file, then there is no need to duplicate it into uBO Badware.

[2021-11-03 10:05] iam-py-test commented on #63
Well, Dan Pollock’s is not enabled by default

[2021-11-03 11:17] felix-22 commented on #63
I am aware it's not enabled by default, but if following your logic, we would need to copy&paste/replicate/duplicate every domain from every non-default badware list of uBO, which isn't already in uBO Badware,  into uBO Badware...is this what you're suggesting? It doesn't seem to make much sense..does it? I rather thought if an user wants enhanced protection, he may enable non-default badware list

[2021-11-03 11:20] iam-py-test commented on #63
My point is that in this case, its not redundant.

No. For one, uBlock Badware does not even handle malware domains, and two, its impossible for anyone to block all malicious domains (I'v tried). I just think some domains should be blocked for novice users which just have default settings

[2021-11-03 12:00] iam-py-test commented on #63
@DandelionSprout spyware browser extension:
![image](https://user-images.githubusercontent.com/84232764/140056191-834b4cd0-bb77-4f0b-a337-39885994ae1a.png)

https://github.com/iam-py-test/investigations/blob/main/2021/11/3/1.md

[2021-11-03 12:08] felix-22 commented on #63
Neither I meant to copy&paste all raw domains, what I meant was all domains which apply to uBO Badware, but there could still be a lot of those.

Well, it's clear now, then it might have a sense, as for me it's hard for me to tell which ones should go on which list, so I can't help you here, you would need to pick domains on your own and ask @Yuki2718 about the whole idea.

[2021-11-03 19:17] agam3r commented on #63
Could anybody recommend a VPN to me?

[2021-11-03 19:18] agam3r commented on #63
Could anybody recommend a VPN service to me?

[2021-11-03 19:20] agam3r commented on #63
Could anybody recommend me a good VPN service?

[2021-11-03 22:15] iam-py-test commented on #63
I know Mozilla, Malwarebytes, and Protonmail all have (paid) VPNs, but I have used none of them.
I'd recommend you use [Tor Browser](https://torproject.org) as its a browser designed to protect you. (yes, it does let you access illegal websites, but you don't have to use it for that.)
That's what I use anyway. It works on Linux, Windows, MacOS, Android, and even ChromeOS, and has a fork for iOS

[2021-11-03 22:20] iam-py-test commented on #63
Wait, what? What happened?

[2021-11-03 22:22] krystian3w commented on #63
Just deleted account.

[2021-11-03 22:23] iam-py-test commented on #63
I noticed that. Why? (probably you don't know either)

[2021-11-03 22:25] THEtomaso commented on #63
Probably another bot.

[2021-11-03 22:27] iam-py-test commented on #63
I don't think so. While I can't check now, I think I saw that account report valid issues. I think they are a human, not a bot

[2021-11-04 10:20] krystian3w commented on #63
Maybe "FBI" opens home door and enforced delete accounts.

[2021-11-04 11:01] DandelionSprout commented on #63
I frequently see GitHub users delete their accounts after having asked questions, which I can only vaguely guess is because they presume that once they've filed a report, they think they don't need to provide any additional information ever again.

[2021-11-04 11:03] iam-py-test commented on #63
I feel that's kind of odd, but I guess it happens

[2021-11-04 11:05] DandelionSprout commented on #63
My GitHub notifications in my E-mail inbox, tells me he/it/she was likely *very* bad at using GitHub, writing and deleting his comments twice instead of editing the original one.

[2021-11-04 11:11] iam-py-test commented on #63
Oh, and there is a weird issue with _DandelionSprout's Annoyances list_:
With Annoyances disabled:
![image](https://user-images.githubusercontent.com/84232764/140303572-464b5287-cc54-4216-a699-3d3956969977.png)
![image](https://user-images.githubusercontent.com/84232764/140303615-4b9aecc7-e4f2-486e-800f-fd20815fe60e.png)
Annoyances enabled:
![image](https://user-images.githubusercontent.com/842327

[2021-11-04 11:13] DandelionSprout commented on #63
Most likely caused by `@@||github.com^` as a result of https://wiki.manjaro.org/index.php/Pacman-mirrors#Use. It didn't really strike me at the time that there'd be a need to block individual repos. I think I know of a potential fix.

[2021-11-04 11:15] iam-py-test commented on #63
It is a good idea to unblock GitHub, but the problem is that there are some malicious repos.
Maybe replace it with `||github.com^$badfilter` so noone blocks all of GitHub but some repos can still be blocked

[2021-11-04 12:59] krystian3w commented on #63
https://github.com/DandelionSprout/adfilt/issues/63#issuecomment-960654265 - some people copy filters with typo based on static e-mail.

[2021-11-04 15:05] fxbrit commented on #63
**filter list**: Dandelion Sprout's Annoyances List

**problem**: cannot access popular lemmy instance lemmy.ml because of the bad top domains rules.
[code]

[2021-11-04 15:18] THEtomaso commented on #63
The page is a jumbled mess!
Using dev. tools, it looks like they've set all margins to 0 pixels!
But as usual, it looks OK in browsers that doesn't adhere to W3C standards (Chromium).

[2021-11-04 19:57] iam-py-test commented on #63
Let me look into this...

[2021-11-04 20:20] krystian3w commented on #63
Looks as copy of reddit.

[2021-11-04 20:22] krystian3w opened #324 "community.spiceworks.com - fake annoyance login pop-ups"
### Prerequisites

- [X] This is not a [support issue or a question](https://old.reddit.com/r/uBlockOrigin/)
- [X] I performed a [cursory search of the issue tracker](https://github.com/uBlockOrigin/uAssets/issues) to avoid opening a duplicate issue
- [X] I am running the latest version of uBlock Origin

### I tried to reproduce the issue when...

- [X] uBO is the only extension
- [X] uBO with def

[2021-11-04 20:24] iam-py-test commented on #63
@DandelionSprout https://github.com/DandelionSprout/adfilt/issues/63#issuecomment-961130199
Sandbox analysis: Clean
Screenshot:
![image](https://user-images.githubusercontent.com/84232764/140412937-724f6a3a-7428-4ae1-9207-a07ee022ebde.png)
VirusTotal: [Clean](https://www.virustotal.com/gui/url/5ddc01a1c3c44d242c2b25df790aa05d8362dac11b996cfa26fa0617d85ec4b3?nocache=1)
Norton: Clean
McAfee: Clean
M

[2021-11-04 20:25] krystian3w commented on #324
uAssets closed without wrote arguments by **mapx-** hands.

[2021-11-04 22:26] iam-py-test commented on #324
I can't see to reproduce

[2021-11-04 22:28] krystian3w commented on #324
Because "looks a familliar" need analyse JS how works:

`visit_count`

Fastest is force edit cookie and refresh any topic on that page, but nobody prefere malform cookies to reproduce anything.

[2021-11-04 22:29] iam-py-test commented on #324
Yep, I can repro. Thanks

[2021-11-04 22:30] iam-py-test commented on #324
Let me look into it

[2021-11-04 23:00] DandelionSprout commented on #324
I had initial problems reproducing it an hour ago, sadly.

[2021-11-04 23:01] iam-py-test commented on #324
I have found a solution

[2021-11-04 23:07] iam-py-test commented on #324
I found the following filters fix it:
[code]

[2021-11-04 23:11] krystian3w commented on #324
Last may break scroll for users with disable uBO annoyances if `cookie-remover` works too late on pages.

[2021-11-04 23:27] iam-py-test commented on #324
Ok. You can just add the first two.
I think all thats needed is 1 but I figured that other cookie is useless anyway

[2021-11-05 07:43] fxbrit commented on #63
@iam-py-test thanks
@krystian3w yup, it is a federated reddit alternative and that one is the main instance

[2021-11-05 10:47] DandelionSprout commented on #63
Thanks for the headsup. A fix has now been added, and will go live in AdGuard in circa 3 hours' time.

[2021-11-05 19:32] THEtomaso commented on #63
After recent changes, it now seems impossible to bookmark Google Disk links, so that they'll open in **_List_** view instead of the usless **_Grid_** view.
In the past, I simply added the `#list` parameter to the end of the URL, but this doesn't appear to have any effect now!

Example:
`https://drive.google.com/drive/folders/0B7k-l_4omFECNWRGNHBEdVBsTTA?resourcekey=0-_vid1f0NXhdIdIChxy8mkQ`

Perha

[2021-11-05 19:56] iam-py-test commented on #63
Let me look into this...

[2021-11-05 20:12] iam-py-test commented on #63
Does anyone know if this still exists: https://github.com/uBlockOrigin/uBlock-issues/issues/956

[2021-11-05 20:17] gwarser commented on #63
It does @iam-py-test

[2021-11-05 20:17] iam-py-test commented on #63
Is there a way to join?

[2021-11-05 20:31] gwarser commented on #63
By invitation. Maybe someone will send you one, maybe even @DandelionSprout

[2021-11-05 20:32] iam-py-test commented on #63
Ok. Thanks
I feel I kind-of overstepped my boundaries anyway.

[2021-11-05 21:10] iam-py-test commented on #63
@gorhill I have gone through & upgraded all the links to HTTPS: https://github.com/iam-py-test/uBlock-1
However, I can't open a PR so you will have to do that (if it looks ok)

[2021-11-06 04:04] #308 closed

[2021-11-06 04:15] DandelionSprout commented on #324
With what seems to me to be a consensus on `community.spiceworks.com##+js(cookie-remover,visit_count)`, I'll add that one to *Browse Websites Without Logging In* now. Thanks to you all again.

[2021-11-06 04:16] #324 closed

[2021-11-06 11:53] DandelionSprout commented on #63
I decided to give the HTTPS link upgrade a shot too earlier this morning, but it'd be of little improvement to your take when my take would involve at least seven batches of file uploads.

[2021-11-06 11:58] fxbrit commented on #63
@DandelionSprout just wanted to confirm that the lemmy exception is doing its job, thanks a lot

[2021-11-06 12:01] iam-py-test commented on #63
Thanks for the reminder though. I completely forgot the css files

[2021-11-06 12:02] gorhill commented on #63
I am going to decline this, there is no point committing all these changes just for the sake of changing a URL in the comments, which URL redirects anyway to the `https` version of the page.

[2021-11-06 12:04] iam-py-test commented on #63
I don't see any HTTPS upgrade:
![image](https://user-images.githubusercontent.com/84232764/140608910-2f460eac-8d26-47d7-a531-9aece0e3b0a0.png)
However, its your decision.

[2021-11-06 19:59] iam-py-test commented on #63
Steam scam site:
![image](https://user-images.githubusercontent.com/84232764/140622287-a60ec653-178e-4620-a7f3-82f4a52a5d59.png)
Credit: https://www.virustotal.com/gui/url/a9a9ac2eeb94c12ae39afb300abcc15ad2eaae12975b077f3b24a00698bfc1ab/community

[2021-11-06 21:37] WaterIsImportant commented on #63
Does anybody have any recommendation for a free VPN?

[2021-11-06 21:44] THEtomaso commented on #63
Here we go again..

[2021-11-06 21:54] THEtomaso commented on #63
It's a spambot.
Same excact post as last time. :)

[2021-11-06 21:54] iam-py-test commented on #63
PrivateInternetAccess is what I use, but I don’t remember if it’s free
Why do you need a free VPN?
I’d recommend Tor for most uses

[2021-11-06 21:55] iam-py-test commented on #63
I’m still curious. I swear the old account had real content. And https://github.com/easylist/easylist/issues/9619 looks human to me

[2021-11-06 21:59] THEtomaso commented on #63
Could simply be copied from elsewhere.
Let's see if there's a response.

[2021-11-06 22:00] iam-py-test commented on #63
Possible. However, I did a search & found nothing
https://github.com/search?q=possible+tracking+from+7w.ro+that+isn%27t+blocked&type=issues

[2021-11-06 22:01] THEtomaso commented on #63
Me neither, but those things are pretty clever these days.

[2021-11-06 22:02] WaterIsImportant commented on #63
I'm not a bot.

[2021-11-06 22:02] WaterIsImportant commented on #63
I'm not a bot.

[2021-11-06 22:03] WaterIsImportant commented on #63
Hi, @iam-py-test!

[2021-11-06 22:03] THEtomaso commented on #63
My apoligies then. :)

[2021-11-06 22:03] iam-py-test commented on #63
@waterisimportant sorry if I offended you by calling you a spambot

[2021-11-06 22:04] WaterIsImportant commented on #63
No problem

[2021-11-06 22:04] iam-py-test commented on #63
Are the same person as @THEtomaso was talking about (can’t find the original comment)

[2021-11-06 22:07] WaterIsImportant commented on #63
I wanted to know about a (free) VPN in case I wanted to contribute to ad blocking extensively.

[2021-11-06 22:07] iam-py-test commented on #63
Ok. Then I’d recommend Tor Browse (https://Torproject.org)

[2021-11-06 22:10] WaterIsImportant commented on #63
I did use it before, but ehh.. I'm not sure about the speed. Is there any free tor-like connectivity for Chrome or Firefox?

[2021-11-06 22:11] iam-py-test commented on #63
Not to my knowledge. (Well, you can install Tor to protect your whole OS, but has the same speed issues) That’s where a VPN is great. Sorry I can’t be of more help

[2021-11-06 22:12] THEtomaso commented on #63
`https://github.com/DandelionSprout/adfilt/issues/63/#issuecomment-959847477`
(formulated differently)

[2021-11-06 22:16] WaterIsImportant commented on #63
Thanks, @iam-py-test!

[2021-11-07 04:18] Yuki2718 commented on #63
And why deleted account again...

[2021-11-07 09:09] felix-22 commented on #63
- on `soranews24.com` images sometimes don't load
- it's one of those f...ed-up random cases, hard to determine whether it's site's issue or filters's issue:
  - https://github.com/uBlockOrigin/uAssets/issues/1905#issuecomment-664965038
  - https://github.com/uBlockOrigin/uAssets/issues/10203#issuecomment-943523182

![k](https://user-images.githubusercontent.com/75935068/140637270-86c75da6-18b6-42

[2021-11-07 09:37] THEtomaso commented on #63
Works from my end.
I tried to disable a few filters, which I noticed contained some whitelistings, but the page still loads just fine for me, every time.

[2021-11-07 09:41] uBlock-user commented on #63
`soranews24.com` was fixed in EasyList.

[2021-11-07 09:49] THEtomaso commented on #63
I was finally able to reproduce the issue, by adding this rule:
`||pagead2.googlesyndication.com^$all,important`

[2021-11-07 13:30] felix-22 commented on #63
With alll llists disabled or ad-blocker disabled on the site, no issue - images/photos always load,
but simply enabling just EasyList causes most of images not appearing most of the time the site is visited.
Same happens on both Firefox and Opera.

[2021-11-07 13:43] THEtomaso commented on #63
It's because uBO and AdGuard filters redirects to neutered versions of those Google scripts, whilst EasyList doesn't.

[2021-11-07 13:44] iam-py-test commented on #63
Does it work with all default lists enabled?

[2021-11-07 13:44] THEtomaso commented on #63
Yes

[2021-11-07 13:45] iam-py-test commented on #63
@felix-22 does it work on your end with default settings

[2021-11-07 13:46] felix-22 commented on #63
Nope, the same issue both on default config and with EasyList only.

[2021-11-07 13:47] iam-py-test commented on #63
Did you try clearing the cache?

[2021-11-07 13:51] felix-22 commented on #63
Have tried Purge Cache in uBO & Clear Cache in browser and no difference, th issues happens on 3 different browser profiles: 2 x Firefox and 1x Opera ...

[2021-11-07 13:58] iam-py-test commented on #63
Wait, I can reproduce on default settings:
![image](https://user-images.githubusercontent.com/84232764/140648023-1d0ed7a0-4f06-408d-a971-8e9128590c88.png)
But once I disabled Tracking Protection I could not:
![image](https://user-images.githubusercontent.com/84232764/140648085-5bf3d1fa-39a6-4b54-bd2a-69da5f368f33.png)

[2021-11-07 13:59] felix-22 commented on #63
I've tried with USA VPN and it has worked, images/photos always load, even after I've disabled VPN it  still does work, but on other browser profiles where I've not used VPN still does not work. Wth?

[2021-11-07 14:00] iam-py-test commented on #63
Maybe cookies? Did you clear cookies?

[2021-11-07 14:01] felix-22 commented on #63
Nope. I cleared again uBO Cache & browser cache and it still does work...this is weird.

[2021-11-07 14:02] Yuki2718 commented on #63
In recent versions Firefox ETP prevents resource redirect, hence we've added many fixes just for them.

[2021-11-07 14:03] felix-22 commented on #63
But I have the issue on both Firefox a nd Opera.

[2021-11-07 14:03] iam-py-test commented on #63
Probably Opera's built-in AdBlocker causes it as well...

[2021-11-07 14:04] felix-22 commented on #63
Nope. It's disabled.

[2021-11-07 14:04] iam-py-test commented on #63
Odd. Did you check your HOSTs file, DNS, and antivirus

[2021-11-07 14:05] felix-22 commented on #63
I don't use any of such things.

[2021-11-07 14:05] THEtomaso commented on #63
If you're using any other security-related browser extensions, try disabling them too.

[2021-11-07 14:06] iam-py-test commented on #63
What OS are you on?

[2021-11-07 14:07] felix-22 commented on #63
Win7SP164

[2021-11-07 14:09] iam-py-test commented on #63
Very odd. Can you try Windows key-R and type _ipconfig flushdns_.
Just a last resort, but might do something. (it just means that you are getting the latest ips for the domains you visit)
I don't have much experience with Win7 so can't help too much

[2021-11-07 14:10] iam-py-test commented on #63
Can you post a pic of uBo's logger?

[2021-11-07 14:26] felix-22 commented on #63
Have tried, no diff.
<br>

This is werid, once I've tried USA VPN on profile nr1 (Firefox) the issue is gone permanently despite:
- I already disabled USA VPN
- purged uBO cache
- cleared browser cache & cookies
- flushed dns
- restarted the browser

So I've tried USA VPN on another profile on another browser (Opera) and the effect is the same - the issue gone, but not permanently, after doing ste

[2021-11-07 14:26] iam-py-test commented on #63
I don't get it either
@DandelionSprout any help?

[2021-11-07 14:30] felix-22 commented on #63
Could anybody reproduce the issue with some Europen IP/VPN?

[2021-11-07 14:30] iam-py-test commented on #63
Let me try...

[2021-11-07 14:33] iam-py-test commented on #63
Yep:
![image](https://user-images.githubusercontent.com/84232764/140649358-993688a7-40d5-446a-a4d4-48e2395b0121.png)

[2021-11-07 14:35] THEtomaso commented on #63
I noticed in uBO's logger that the site has a prebid script.
What happens if you whitelist it?:
`@@||soranews24.com^*/prebid.js`

[2021-11-07 14:36] iam-py-test commented on #63
Testing

[2021-11-07 14:38] THEtomaso commented on #63
Try this too:
`@@||jsdelivr.net^*/prebid/$domain=soranews24.com`

[2021-11-07 14:38] felix-22 commented on #63
Yeah, that's what I was talking about, weird as fck.

`@@||soranews24.com^*/prebid.js`

No difference.

[2021-11-07 14:39] iam-py-test commented on #63
No difference. Weird........

[2021-11-07 14:41] felix-22 commented on #63
The site is fingerprinting us...haha

[2021-11-07 14:42] iam-py-test commented on #63
If it is, then I can fix that (Firefox enhanced Fingerprinting protection)

[2021-11-07 14:43] iam-py-test commented on #63
I see that. Wonder if it makes a difference. That could be breaking the site

[2021-11-07 14:47] felix-22 commented on #63
The site remembers and saves fingerprints, and seems the issue (images/photos loading or not) most likely is related / depends on fingerprints somehow.

[2021-11-07 14:48] iam-py-test commented on #63
Odd
Let me try Tor Browser & see if it can fingerprint that

[2021-11-07 14:49] THEtomaso commented on #63
Are you using **AdGuard Base filter**?
It contains a bunch if fixes for that site.

[2021-11-07 14:49] iam-py-test commented on #63
No. I tested of default.
Let me try

[2021-11-07 14:50] iam-py-test commented on #63
What the heck:
![image](https://user-images.githubusercontent.com/84232764/140649995-bdf24b95-b8b5-4972-b578-cde140d234b8.png)

[2021-11-07 14:52] THEtomaso commented on #63
Well, it's a somewhat nasty site, and you've been reloading it like a madman! :)

[2021-11-07 14:53] iam-py-test commented on #63
Tor browser - no effect:
![image](https://user-images.githubusercontent.com/84232764/140650108-35e8ab05-432b-414f-9ec4-17503a1ff4fa.png)

[2021-11-07 14:55] felix-22 commented on #63
I tried it already before, but no diff.

With Canvas Fingerprint Defender the issue is gone, once I disable it and clear browser cache & cookies, the issue is back, this confirms the issue depends on fingerprint...

[2021-11-07 14:55] iam-py-test commented on #63
Odd, because I blocked the prompt in Firefox

[2021-11-07 14:59] felix-22 commented on #63
Yeah, the issue is gone for me on Opera for a while as well, weird as fck.

[2021-11-07 15:00] iam-py-test commented on #63
There's got to the a filter in AG base which fixes it. The question is which one

[2021-11-07 15:01] felix-22 commented on #63
The issue on Opera is fixed for me with or without AdGuard Base...

[2021-11-07 15:01] Yuki2718 commented on #63
NS XSS auditor has been very FP prone, I made bunch of regex exception when I was a user and one was for Virustotal site.

[2021-11-07 15:01] iam-py-test commented on #63
and it works even after disabling AG base. Odd.

[2021-11-07 15:04] felix-22 commented on #63
Yeah, and it might be back at any time, maybe the fingerprint stays for some time period, once then it's cleared and now fingerprints is saved...

[2021-11-07 15:05] iam-py-test commented on #63
Then its exploiting a vulnerability, as TB shouldn't be fingerprintable

[2021-11-07 15:06] THEtomaso commented on #63
Pale Moon has a built-in feature for that, which sends fake values (_canvas.poisondata = true_).
I always have this enabled, but I was still able to reproduce the issue, when applying this rule:
`||pagead2.googlesyndication.com^$all,important`
..so there's a combination of things.

[2021-11-07 15:08] iam-py-test commented on #63
FF has the same thing (different value)
But I don't think that filter is in default uBo setup

[2021-11-07 15:10] felix-22 commented on #63
There are many ways of fingerprinting techniques...canvas is just one of them...might be not enought.

[2021-11-07 15:10] THEtomaso commented on #63
Of course not, I simply added it to confirm that the issue was releated to Google's ad scripts.

[2021-11-07 15:12] iam-py-test commented on #63
There are other anti-fingerprinting protections in place. (By the way, It works even after resetting TB, which clears cookies)

I do see connections to that domain a lot on this site

[2021-11-07 15:15] felix-22 commented on #63
Yeah, I could stil reproduce the issue with thsi filter added as well.

[2021-11-07 15:17] THEtomaso commented on #63
They're there, and different subscripts are fetched each time, when reloading the page.
This is what **AdGuard Base filter** is targeting on that site, amongst other things.

--

You misunderstand.
I specifically added that rule, to trigger the issue!

[2021-11-07 15:26] felix-22 commented on #63
I confirm this as well, already noticed it a long time ago.

<hr>

Not misunderstand, just have forgotten it was vice-versa, now I do remember.

[2021-11-07 15:29] felix-22 commented on #63
By the way, did you know github.com does fingerprint...:

![ddd](https://user-images.githubusercontent.com/75935068/140651383-32d54c17-1803-4f9c-a34f-2fe52a897788.png)

[2021-11-07 15:30] iam-py-test commented on #63
Not necessarily. Its just used for the animation.
Canvas is legit, it just gets abused

[2021-11-07 15:36] THEtomaso commented on #63
M$ implemented hardware recognition here, a long time ago, so it wouldn't surprise me.

[2021-11-07 15:37] iam-py-test commented on #63
True. But I think the canvas is a FP
But with MS, who knows? It is kindof pointless to block MS tracking if your on Windows

[2021-11-07 15:41] THEtomaso commented on #63
On Win10 and 11 perhaps.
Even Win10 Enterprise can be tamed pretty well, at this point.
..which is probably one of their main reasons for pushing Win11.

[2021-11-07 15:48] uBlock-user commented on #63
APIs used for fingerprinting in browser are also used for legitimate purposes, however an extension can't tell you that. So a mere presense of that API results in such detection.

[2021-11-07 15:48] iam-py-test commented on #63
That's what I meant

[2021-11-07 15:50] felix-22 commented on #63
Guys, so what's the conclusion with `soranews24.com` ? Is the breakage caused by filters (EasyList) or is this just the site doing crappy things?

[2021-11-07 15:50] iam-py-test commented on #63
I have no idea

[2021-11-07 16:12] THEtomaso commented on #63
Me neither, but it would be interesting to know if this has any effect:
[code]

[2021-11-07 16:14] iam-py-test commented on #63
It doesn't fix it on my end:
![image](https://user-images.githubusercontent.com/84232764/140652954-fcab33dc-8db9-4977-85c4-53c5bf0ea8ce.png)

[2021-11-07 16:18] THEtomaso commented on #63
Confirmed.
The `##+js` rule was to brutal, and actually forced the issue! :)
Try this instead:
[code]

[2021-11-07 16:20] iam-py-test commented on #63
Still doesn't fix it

[2021-11-07 16:20] THEtomaso commented on #63
To be honest, I'm kinda leaning towards `||soranews24.com^` :)

[2021-11-07 16:21] iam-py-test commented on #63
I tried that and it fixed the problem

[2021-11-07 16:29] THEtomaso commented on #63
On the contrary, the site has obviously been put together in a very uncritical maner, and should be targeted for a proper cleaning!
Appears to be more of a job for someone like lassekongo83, or someone with equal skils though.

[2021-11-07 16:43] iam-py-test commented on #63
@lassekongo83?

[2021-11-07 16:45] felix-22 commented on #63
Doesn't work for me either.

By the way, after flushing dns, the issue is back for me on all browser profiles.

[2021-11-07 16:48] iam-py-test commented on #63
Weird...

[2021-11-07 16:49] felix-22 commented on #63
I've checked now and it seems what fixes it for Opera is enabling uBlock Filters, once disabled and EasyList left, the issue is back.

[2021-11-07 17:04] iam-py-test commented on #63
This site is strange. At least they had some fun articles:
![image](https://user-images.githubusercontent.com/84232764/140654486-0aaf4044-3d74-4842-ad65-48ca87ead3f6.png)

[2021-11-07 17:05] iam-py-test commented on #63
I think that pretty much describes who we need :)

[2021-11-07 17:09] THEtomaso commented on #63
You should probably edit that post, where you pinged him, with a quick issue summary.

[2021-11-07 17:14] DandelionSprout commented on #63
Okay, so I just woke up from a 4-hour nap, and am seeing *109* new comments in this thread. What on earth must've happened here?

————————————

@iam-py-test With 2 in favour and none against, I hereby invite you to Fanboy's Slack server, but I need your E-mail address or another private contact method in order to send you the invitation link.

[2021-11-07 17:16] iam-py-test commented on #63
Nobody really knows. We were trying to fix an weird broken website - `soranews24.com` - and things just got weirder.

My email is iam[-]py-test[@]protonmail[.]com (remove the [ ])

[2021-11-07 17:19] iam-py-test commented on #63
Got it. Thank you!

[2021-11-07 17:22] iam-py-test commented on #63
Sorry, but I don't think I can join.
It says I have to be over 16 & I'm not

[2021-11-07 17:30] felix-22 commented on #63
By the way I noticed it's very annoying github collapsing comments so quickly, it seems only last ~30 comments are being kept uncollapsed, now if I need to see several eariler comments, let's say another last 30 or 100 what do I do now? Clicking uncollapse button reveals several comments at the beggining, and not at the end, which is useless, how to reveal several last comments? You don't tell me

[2021-11-07 17:35] THEtomaso commented on #63
Yeah, I've pointed this out before too.
There really should be a "Load all" button.
That being said, I've know that there are scripts that can do this.

[2021-11-07 17:37] iam-py-test commented on #63
Yes, it makes it very hard to find old (even few days old) comments as it starts from the top & this threat is long
That is one dis-advantage of a big meta thread

[2021-11-07 17:37] iam-py-test commented on #63
@DandelionSprout please look over #327

[2021-11-07 17:38] uBlock-user commented on #63
Does this issue occur in Discussions threads ?

[2021-11-07 17:39] iam-py-test commented on #63
I think so. Its starting to happen to Legit URL

[2021-11-07 17:39] DandelionSprout commented on #63
Sadly yes, judging by https://github.com/DandelionSprout/adfilt/discussions/163

[2021-11-07 17:40] felix-22 commented on #63
There are userscripts for "Load all" but I want just to load last 50 or 100 and not 1500 or 2000....this is really insane to being unable to unhide several last comments...

[2021-11-07 17:43] uBlock-user commented on #63
Something to report at https://github.com/github/feedback/discussions/categories/issues-feedback and https://github.com/github/feedback/discussions/categories/discussions-feedback

[2021-11-07 17:47] felix-22 commented on #63
Yeah, have found this one: https://github.com/github/feedback/discussions/5119

[2021-11-07 17:48] THEtomaso commented on #63
I think it goes against M$'s agenda.
They only appear to make changes that makes GitHub worse, not better.

[2021-11-07 18:02] iam-py-test commented on #63
@DandelionSprout @rusty-snake issue with the converter for the ClearURLs for uBo list:
![image](https://user-images.githubusercontent.com/84232764/140656316-a74bb5f9-dcf4-44c6-a76c-f699ce38fc5b.png)

[2021-11-07 18:06] rusty-snake commented on #63
https://github.com/DandelionSprout/adfilt/blob/e13f68c7ced156baae30c3695711cba590d5ff48/ClearURLs%20for%20uBo/compile.py#L147-L148

4. in https://github.com/arkenfox/user.js/issues/1263#issuecomment-949936157. I haven't found a way so far to make uB parse a `removeparam` filter which matches a `$`.

[2021-11-07 18:17] gwarser commented on #63
@rusty-snake

    example.com$removeparam=/^\x24test=/

Works on example.com?$test=foo in 1.38.6

[2021-11-07 18:25] lassekongo83 commented on #63
Tbh, the easiest way I found out is just to block JavaScript so the `<noscript>` image is loaded. Blocking js on that site doesn't break much it seems. Or using a userscript to rename the attributes `data-sco-src`, `data-sco-srcset`, `data-sco-sizes` to `src srcset sizes`.

[2021-11-07 18:28] uBlock-user commented on #63
https://www.reddit.com/r/uBlockOrigin/comments/neh2m1/some_images_in_soranews24_arent_loading/gz8ryrh/

That works consistently.

[2021-11-07 18:38] DandelionSprout commented on #63
Looks more than a little odd to me that it'd work, but I'll take you guys' word for it.

[2021-11-07 19:06] felix-22 commented on #63
Indeed. Can be accepted as a user-side fix.
What about trying to narrow script blocking, that it could be fixed with typical filters in some filter list, I have:
`soranews24.com##.aligncenter.lazy`
`||cdn.syndication.twimg.com/widgets/followbutton/info.json?callback=$script,third-party,domain=platform.twitter.com`
But unfortunately it does not work consistently as the orginal fix, only like in 50%

[2021-11-07 19:27] krystian3w commented on #324
Maybe better mark filter line as incompatible with `annoyances.txt` by uAssets uBO team, mapx- maybe reject your Issue with mass addition new filters.

[2021-11-08 09:10] felix-22 commented on #63
I've finallly solved the issue on `soranews24.com`, the images/photos will refuse to load when scirpts from:
`https://pagead2.googlesyndication.com/pagead/` are blocked.

<hr>

**Which means the images/photos on the site are broken by the following lists:**

<br>

EasyList:
[code]

Peter Lowe’s Ad and tracking server list:
[code]

AdGuard Base:
[code]

<hr>

**The solution is one of the following

[2021-11-08 10:39] THEtomaso commented on #63
Good work, felix-22!

@uBlock-user:
Could you convert these **AdGuard Base filter** rules into uBO-compatible ones, and add them to **uBlock filters**?:
https://github.com/AdguardTeam/AdguardFilters/commit/e2c2e2ec05d6f5fa2f6bd4fa980c56505d127853/

[2021-11-08 11:20] felix-22 commented on #63
Thx, also many users helped in this thread as well.

<hr>

As for the AdGuard redirection filters not working in uBO, it's an important issue to be solved, as asked here: https://github.com/uBlockOrigin/uAssets/issues/10238#issuecomment-945869793

@ameshkov

[2021-11-08 11:28] uBlock-user commented on #63
EasyList already has the exception filters for this site, report to them if it still doesn't work for you.

[2021-11-08 11:34] THEtomaso commented on #63
Yeah, but the AdGuard rules overrides them with the `$important` syntax!

[2021-11-08 11:34] krystian3w commented on #63
Ony for rum (not alcohol drink).

[2021-11-08 11:36] iam-py-test commented on #63
They won’t because AdGuard Base is not enabled by default

[2021-11-08 11:36] ameshkov commented on #63
@felix-22 we'll revise those rules, thanks for mentioning me.

[2021-11-08 11:36] THEtomaso commented on #63
Yeah, there's that.. :(

[2021-11-08 11:39] uBlock-user commented on #63
We only address issues created by default filter lists.

[2021-11-08 11:41] THEtomaso commented on #63
Weird that we didn't notice the AdGuard rules not working in uBO before.
When using uBO's logger, I must have confused them with those gtm/gpt rules, assumed that they worked, and not given it another thought.

[2021-11-08 11:42] krystian3w commented on #63
Or then page purposely hide dates by CSS instead remove pool form CMS template: `downloadsources.*`

[2021-11-08 15:25] gwarser commented on #63
Do you need to manually click on "Done" or "Mark as read" in notifications? Specifically notifications about comments in commits like https://github.com/uBlockOrigin/uAssets/commit/447444b334ffe7d9a2ed9a2828a12432f0575818#commitcomment-59629773 ?

[2021-11-08 15:29] Yuki2718 commented on #63
Sure, unless I unsubscribe it.

[2021-11-08 15:32] uBlock-user commented on #63
I didn't used to, now I have to, something's broken in GitHub.

[2021-11-08 16:17] okiehsch commented on #63
Yes, it still works as expected if I open the commit in the github app but desktop notifications of commit comments appear to be broken.

[2021-11-08 17:24] krystian3w commented on #63
My commits no support notify unless use my nick name in comment.

[2021-11-08 20:04] THEtomaso commented on #63
@DandelionSprout:

I just ran into a problem with BankID..

A payment wouldn't go through, even after several attempts.
It resulted in a `BID-20b0` error, every time!

In uBo's logger, I noticed the following rule (from your **Nordic filter**):
`no##+js(remove-attr.js, class, .dfp-loaded)`
(Non-legacy version = `no##+js(ra, class, .dfp-loaded)`)
It was being applied to `3dsecure.no` and `bankid.no

[2021-11-08 20:07] krystian3w commented on #63
omg

[2021-11-08 20:52] iam-py-test commented on #63
Yep, same thing. It seems to be on-and-off. If its a commit @ referencing me, then it never seems to go away until I hit _Mark as read_

[2021-11-08 20:55] iam-py-test commented on #63
Can you post a screenshot?

In my opinion, that rule it a bit too generic, but I don't want to remove it if this is a site issue, as there may be a good reason it exists

Did it work with uBo disabled?

[2021-11-08 21:10] THEtomaso commented on #63
I will, if it happens again, the next time I buy something.

--

Yeah, I DO see it being applied, pretty much everywhere! :)
Perhaps DS can elaborate on it..

--

I don't have a habbit of completely disabling uBO.
Instead, I try to disable or whitelist individual rules.

[2021-11-08 21:12] rusty-snake commented on #63
https://github.com/gorhill/ublock/wiki/Quick-guide:-popup-user-interface#the-large-power-button

[2021-11-08 21:12] THEtomaso commented on #63
LOL!
I know how it's done. :)

[2021-11-08 21:13] iam-py-test commented on #63
Not sure if this is a glitch or what, but uBo seems to act strangely around file:// urls.
#### Steps to repro:
1. Create a .html file with `<iframe src="https://example.com"></iframe>` in it (it can be anything, but the iframe is most noticeable)
2. Open the uBo logger
3. Open the HTML file in your browser
4. Use the logger to block the iframe
5. Open _My filters_
### Expected behavior:
The rule c

[2021-11-08 21:16] iam-py-test commented on #63
Neither do I, but without doing that, you can not tell if it is a site issue

[2021-11-08 21:19] THEtomaso commented on #63
Yeah, but it's a last resort type of solution for me, if everything else fails.

[2021-11-08 21:21] iam-py-test commented on #63
Did you try disabling other extensions (i.e. Noscript, antivirus)

[2021-11-08 21:24] THEtomaso commented on #63
The whitelisting rule, which I posted, was actually the first thing that I tried.
..so there wasn't a need to take things any further.

[2021-11-08 22:05] gwarser commented on #63
@iam-py-test

I'm not sure what you mean exactly. There are more schemes listed if you look at whitelist default entries, some even more mysterious :)

Explanation in fifth commit in uBO repo: https://github.com/gorhill/uBlock/commit/b5fdac90539b19a0db8f36ea537bd150edb4d9c8#diff-3a22eb7218b47e1dc8ce652371258e3b80ac590348e8c7f5bddb0da8c45e4b04R76-R84 but copied from other project: https://github.co

[2021-11-08 22:35] iam-py-test commented on #63
So I guess this is a won't fix?
I understand this is complex, but I think that this is an issue worth fixing. However, I do not have any real instance of it causing an issue, so not fixing it is not going to have much of an impact.
I feel this should be noted in the Wiki (or maybe it has and I just never saw it)

[2021-11-09 08:16] DandelionSprout commented on #63
I can't recall having encountered such a problem in Melhusbanken, even if mostly because I use eFaktura and Avtalegiro for virtually all invoices. 😅

I know uBO must be manually set in Chrome's extension settings to "Allow access to file URLs", but I don't see any such settings in Firefox.

I recall I was requested to add it by peace2000, who (from what I remember) believed it to be a good fix for

[2021-11-09 12:13] krystian3w commented on #63
On wiki is section for "behind-of-scene"?

Still does not exist so needed is http/https server on localhost.

[2021-11-09 12:17] iam-py-test commented on #63
Its mentioned on https://github.com/gorhill/uBlock/wiki/The-logger.

I guess Firefox auto-grants access?

[2021-11-09 12:26] krystian3w commented on #63
Nope, FX WebExtension add-on no have chance to read private local drive as long share as http/https local server.

[2021-11-09 14:12] krystian3w commented on #63
Imre annoyances list embedded smaller filter list for  imgur.

[2021-11-09 15:11] felix-22 commented on #63
Even with the flag turned on, it doesn't make any difference regarding `https://file-scheme`

<br>

https://github.com/uBlockOrigin/uBlock-issues/discussions/1754

<br>

- another thing is Element Picker does not work at all - let's name it case "A"
- and compare to
https://github.com/uBlockOrigin/uBlock-issues/issues/512 - let's name it case "B"

<table>
<tr>
	<td> Nr
	<td> Action
	<td> Case A
	<

[2021-11-09 15:23] uBlock-user commented on #63
Picker and Zapper are restricted to work on protocol/s `http://` and `https://` only

[2021-11-09 16:54] felix-22 commented on #63
Can't find annything in the docs, is it a browser / WebExtensions API's limitation, or uBO's limitation.

[2021-11-10 08:10] krystian3w commented on #63
Also zapper no works in "http" iframe like added in the past support for element picker.

[2021-11-10 08:14] krystian3w commented on #63
@gwarser check this to delete legacy names on wiki:

https://github.com/Aris-t2/CustomCSSforFx/pull/422/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5L125

[2021-11-10 09:07] DandelionSprout commented on #63
fxbrit is talking about Zoom, not Imgur.

I am aware of that happening on pages with `$elemhide`, but I had not idea it happened on `file://` pages.

[2021-11-10 09:12] krystian3w commented on #63
Because is excluded, you should read few post above https://github.com/DandelionSprout/adfilt/issues/63#issuecomment-964254310 than your but not in e-mail client (possible meant this like you sterted ignored the Felix and uBlock-use).

[2021-11-10 09:13] DandelionSprout commented on #63
Ah, okay, I see that now.

[2021-11-10 11:26] felix-22 commented on #63
He already has read the comments and already does know about it, his point was that he didn't know before.

- yeah, you can argue here: https://github.com/uBlockOrigin/uBlock-issues/issues/1151#issuecomment-965036673
- currently the workaorund is same as for Picker in the past:
https://github.com/uBlockOrigin/uBlock-issues/issues/1151#issuecomment-657626049

[2021-11-10 12:18] gwarser commented on #63
https://github.com/uBlockOrigin/uBlock-issues/wiki/Quick-guide:-popup-user-interface#the-pluses-and-minuses

https://github.com/uBlockOrigin/uBlock-issues/wiki/Quick-guide:-popup-user-interface/_compare/ced53e7f72e2da23e4b30223035319aadfd0a4a3

[2021-11-10 12:26] iam-py-test commented on #63
Anyone know what this is:
![image](https://user-images.githubusercontent.com/84232764/141111782-34778071-c10c-4e36-9efc-d650986117ad.png)
It happens every time I reload a file:// url:
![image](https://user-images.githubusercontent.com/84232764/141111463-f516b498-a9b4-474c-ab74-48116ae43665.png)
Is this some kind of bug? I know uBo would not intentionally be sending the urls of sites I visit, so I

[2021-11-10 12:44] gwarser commented on #63
Do you have NoScript installed?

[2021-11-10 12:45] iam-py-test commented on #63
Yes, why?

[2021-11-10 12:47] gwarser commented on #63
https://www.reddit.com/r/uBlockOrigin/comments/f7d9qh/should_i_always_go_green_with_255255255_ip/

[2021-11-10 12:53] felix-22 commented on #63
https://github.com/hackademix/noscript/issues/121

[2021-11-10 13:05] iam-py-test commented on #63
Ah, thanks! Shows I should do my research

[2021-11-10 13:06] iam-py-test commented on #63
Let me test...

[2021-11-10 13:07] krystian3w commented on #63
Anybody can recheck subscribe link still work in allow domains/paths?

For my down in uBo dev 1.38.7b18 on Firefox 94.0.1 and Nightly 96 (2021-11-10) in Windows 7...

For demo I tested dimisa wiki: https://github.com/easylist/ruadlist/wiki/RU-Adlist-links

[2021-11-10 13:19] gwarser commented on #63
filterlists.com is down?

[2021-11-10 13:20] krystian3w commented on #63
Looks as network error for Poland?

[2021-11-10 13:21] iam-py-test commented on #63
Nope, works for me
@collinbarrett

[2021-11-10 13:23] iam-py-test commented on #63
I do not understand?

[2021-11-10 13:32] gwarser commented on #63
Probably: https://github.com/gorhill/uBlock/commit/8b8b7da8d9f10fca94f9daaf9b93a7ec6927c6d6#r59932865

[2021-11-10 14:02] felix-22 commented on #63
Yes,`filterlists.com` is down / broken often and regularly: [link](https://github.com/collinbarrett/FilterLists/issues?q=is:issue+in:title+filterlists+down+OR+broken+label:bug)

[2021-11-10 14:05] gwarser commented on #63
Fixed https://github.com/gorhill/uBlock/commit/c2c2cef4e625b3eb4c1c82955530bc8fcbb031c1

[2021-11-10 14:35] felix-22 commented on #63
https://github.com/easylist/easylist/issues/9156#issuecomment-922995970

[2021-11-10 17:48] collinbarrett commented on #63
filterlists.com is back up. I think I've fixed the root issue that caused the outage. [ref](https://github.com/collinbarrett/FilterLists/issues/2520#issuecomment-965424674)

[2021-11-11 06:04] THEtomaso commented on #63
@DandelionSprout:

Large, empty placeholders:
`https://www.aftenposten.no/verden/i/L59kzp`

Possible fix:
`aftenposten.no#?#div[class^="article-wrapper-"] > div[class*="css-"]:-abp-has([data-variants*="ssa-native-ad"])`

[2021-11-11 07:10] felix-22 commented on #63
I did, but it has been declined: https://github.com/easylist/easylist/issues/9637
Stilll can be fixed in uBO with a single fillter:

[2021-11-11 07:18] uBlock-user commented on #63
There's not a single network connection request to `googlesyndication.com` at `soranews24.com` as per the logger.

[2021-11-11 07:48] felix-22 commented on #63
Even after reloading the site several times (10-20) ? (also if still can't reproduce, try hard reloading). They are still here, just the issue is random:

[2021-11-11 08:39] uBlock-user commented on #63
Yes, several times, also images do not appear, so the issue happens with or without `googleadsyndication` being present. Somebody suggested renameing `data-sco-*` attributes, seems that the only way to make it appear.

[2021-11-11 09:22] felix-22 commented on #63
I don't think so, seems you have a typo: should be `googlesyndication` and not `googleadsyndication`, the latter is Non-existent domain, unnecessary  `ad` between `google` and `syndication`...unless you have a typo in your comments only and not in the logger

- images/photos are broken for me only when a request to `https://pagead2.googlesyndication.com/pagead/` is made and blocked in the logger
-

[2021-11-11 11:54] felix-22 commented on #63
Why would you even need it, the issue is fixed for me after simply adding a single exception filter:
`@@||pagead2.googlesyndication.com/pagead/*$script,domain=soranews24.com`

@ryanbr it's better to end a conversation with arguments in a civilized way than unnecessarily overreacting and force-locking a thread and preventing the other party from responding, it's nothing else than showing the world

[2021-11-11 14:33] DandelionSprout commented on #63
I was inclined to take your (felix-22) side on this, until I saw you had given a thumbs up to your own comment above.

This thread has begun to reach Facebook levels of awkward emote reactions, to be frank.

[2021-11-11 14:36] iam-py-test commented on #63
Maybe an accident?

The only thing stopping it from going completely crazy is the lack of custom emote responses.
I have a feeling N3 will be soon

[2021-11-11 14:45] THEtomaso commented on #63
Been considering for long time, if I should block emojis entirely!
99% of the time, they only serve as web pollution, IMO.
Bu I admit that "Thumbs up" could be useful, at certain places,, like here on GitHub.

[2021-11-11 14:46] iam-py-test commented on #63
Yep. I did see someone had a Anti-Emote list (can't remember their username)

[2021-11-11 14:59] rusty-snake commented on #63
:four: :octocat: :point_up: :heavy_plus_sign: `github.com##.social-reaction-summary-container` :arrow_right: :gear: :shield:

[2021-11-11 15:27] iam-py-test commented on #63
Anyone know why GH used the wrong avatar for Imre?:
![image](https://user-images.githubusercontent.com/84232764/141324243-8d7d5eb5-93b3-47da-af17-3a86906ff3c7.png)

[2021-11-11 17:11] THEtomaso commented on #63
It's one of his:
`http://en.gravatar.com/dandelionsprout/`

[2021-11-11 17:46] felix-22 commented on #63
@ DandelionSprout

Don't worry, the emoji was only preventatively, in case I get trolled/banned by the Big Guy's friends (as often happens), but as nothing such bad has happened here, I've removed it, generally I hardly ever use emotes, sporadically.

[2021-11-11 17:47] iam-py-test commented on #63
Who is 'The Big Guy'?

[2021-11-11 17:52] felix-22 commented on #63
I've updated my comment to clear any doubts.

[2021-11-11 22:14] krystian3w commented on #63
Or try these:

`##.btn-link[aria-label*="krystian3w"][aria-label*="reacted with thumbs down emoji"]`

pure html/css filter "rule" by AG slang.

[2021-11-11 23:33] krystian3w commented on #63
the new issue reporter may have bug with use ` in:title` - many people inject in title pharse/sentence instead domain name.

[2021-11-11 23:35] IEnjoyDrinkingGoodWater commented on #63
@uBlock-user did you block me from communicating in the uAssets GitHub repository?

[2021-11-11 23:36] krystian3w commented on #63
Or banned new created accounts - similar to uBlock-issues (may need wait 30 days to report real problem or many comments in any repository to up "trust level at github").

[2021-11-11 23:37] iam-py-test commented on #63
But you were able to create https://github.com/uBlockOrigin/uAssets/issues/10449?

[2021-11-11 23:38] iam-py-test commented on #63
Which issue reporter?

[2021-11-11 23:42] krystian3w commented on #63
In uBo dev 1.38.7b22

or moderators start retitle all issues?

[2021-11-12 00:02] krystian3w commented on #63
Demo broken search: https://github.com/uBlockOrigin/uAssets/issues?q=is%3Aissue+%22youtube.com%22+in%3Atitle+is%3Aopen

not found opened mega theard "All youtube issues".

[2021-11-12 00:13] iam-py-test commented on #63
The _report an issue_ seems kind of broken. It doesn't actually add the inputted data

[2021-11-12 00:15] gwarser commented on #63
You are blocked. Probably because you created and then deleted few posts.

[2021-11-12 00:17] gwarser commented on #63
Can you try again?

[2021-11-12 00:23] krystian3w commented on #63
Or inject filter inside addon.

[2021-11-12 01:06] iam-py-test commented on #63
For those who use Malwarebytes, it has a new feature which allows you to block a website via the Context Menu:
![image](https://user-images.githubusercontent.com/84232764/141391204-230e0cdb-7120-4e4a-9fdc-ba6c48796001.png)

[2021-11-12 05:44] uBlock-user commented on #63
@IEnjoyDrinkingGoodWater I haven't, but I can't say the same for other uBO team members, so ask them.

[2021-11-12 07:13] DandelionSprout commented on #63
To be honest, I haven't seen him have all that many companions who try to come to his rescue whenever. The EasyList team has a total of 3 active members (Him, MonztA, and Khrin); and although he is on good terms with some others that he work for (The ABP coding team, the Brave Browser dev team), I haven't seem those fellows jump into quarrels on GitHub.

Come to think of it, I have a similar list

[2021-11-12 08:27] felix-22 commented on #63
It's just a prevention in case, I'm not saying it would happen, but it happened recently on some other similiar repos wherein I was harrased/trolled by `spirillen`, `e-t-l`, `uBlock-user`, `okiehsch` :
- `https://github.com/uBlockOrigin/uAssets/issues/10100#issuecomment-931553682`
-  `https://github.com/uBlockOrigin/uBlock-issues/issues/1784`

<hr>

Or use browser extensions as I mentioned already

[2021-11-12 16:04] iam-py-test commented on #63
Now they install it whenever you install Malwarebytes (not sneaky, they tell you & you can opt-out). It comes with Ad/Tracker blocking but I disabled that as uBo is far better (not tested...)

I just use uBlock Origin for that, and it works.  I just figured it was an interesting feature

Does the site now work?

[2021-11-12 16:15] felix-22 commented on #63
Does the site now work?

Sure, it's working all the time for me, why asking, is still broken for you?

[2021-11-12 16:22] iam-py-test commented on #63
uBo could integrate that into the element picker...
![image](https://user-images.githubusercontent.com/84232764/141499705-e1e60c5e-6b95-42de-b904-4e94bd786147.png)

[2021-11-12 16:39] IEnjoyDrinkingGoodWater commented on #63
@uBlock-user how should I ask the other uBO team members?

[2021-11-12 16:41] iam-py-test commented on #63
@ublockorigin should CC everyone...

[2021-11-12 16:47] iam-py-test commented on #63
@DandelionSprout please unblock `https://tcl.tk/man/tcl8.6/TkCmd/contents.htm` in your antimalware list

[2021-11-12 16:55] IEnjoyDrinkingGoodWater commented on #63
![image](https://user-images.githubusercontent.com/94134264/141504768-efa81484-b19a-49c1-977d-3bb0a5f14bd2.png)

[2021-11-12 17:36] okiehsch commented on #63
![image](https://user-images.githubusercontent.com/16838044/141510108-655c89f1-1ecc-43ef-b5aa-c9ce00987045.png)

And even though I "harassed and trolled" `felix-22` I never banned him, so congrats.

[2021-11-12 17:44] iam-py-test commented on #63
What did @IEnjoyDrinkingGoodWater do?

[2021-11-12 17:50] rusty-snake commented on #63
https://github.com/uBlockOrigin/uAssets/issues/7273

[2021-11-12 17:53] iam-py-test commented on #63
Ah, thanks! I was just looking for issues they opened.

[2021-11-12 17:54] okiehsch commented on #63
The screenshot he posted is from
https://github.com/uBlockOrigin/uAssets/issues/7273

His comment - the first if a new account - was a valid anti adblock issue, after I fixed it.
![image](https://user-images.githubusercontent.com/16838044/141511788-8bbb3ce8-1b4c-42ef-bcb2-73039cc81ff3.png)
then after some back and forth
![image](https://user-images.githubusercontent.com/16838044/141511964-a51c5ad9

[2021-11-12 17:55] iam-py-test commented on #63
Understood.

[2021-11-12 17:55] okiehsch commented on #63
He then continued to discuss, later deleted comments to make some replies lose all context and then gave a snarky good bye.

[2021-11-12 18:00] IEnjoyDrinkingGoodWater commented on #63
@okiehsch What comments did I delete?
I have contirubted with more than 100 commits to uAssets - I'm not a troll.
I asked about the legallity of combating some forms of anti adb in the US and EU to be sure, because if it were true, I would've ceased the use of uBlock Origin or AdGuard. Asking you made sense to me. I then added the comment announce me having to leave specifically for you to know th

[2021-11-12 18:02] iam-py-test commented on #63
What I guess is continuing to post off topic comments even after being asked not to

[2021-11-12 18:03] okiehsch commented on #63
Are you saying you did not delete any comments?
Before you answer be aware that I am have access to the audit logs of uAssets.

And you have not deleted any comments?

[2021-11-12 18:03] IEnjoyDrinkingGoodWater commented on #63
After I was asked in the GitHub issue something like that (I think) I only intended to respond to what was then told, and to clarify that I was not a troll.

[2021-11-12 18:04] IEnjoyDrinkingGoodWater commented on #63
That's why I asked you. I did not claim that I did not delete any comments.

[2021-11-12 18:07] okiehsch commented on #63
So you did delete comments but can't remember why?

[2021-11-12 18:07] uBlock-user commented on #63
For the sake of argument, that was not from this account, that's for sure.

[2021-11-12 18:07] IEnjoyDrinkingGoodWater commented on #63
Yes.

[2021-11-12 18:07] iam-py-test commented on #63
Did @IEnjoyDrinkingGoodWater have a previous account?

[2021-11-12 18:08] uBlock-user commented on #63
So which account ?

[2021-11-12 18:10] IEnjoyDrinkingGoodWater commented on #63
@okiehsch One or two might have been weirdly written, and immediately replaced after deletion with something very similar.

@uBlock-user Multiple accounts on Github. Kinda weird, I know.

[2021-11-12 18:10] iam-py-test commented on #63
What is the other account?

[2021-11-12 18:11] uBlock-user commented on #63
That means we don't know you. Either you identify yourself or quit claiming you contributed anything to uBO.

[2021-11-12 18:12] okiehsch commented on #63
![image](https://user-images.githubusercontent.com/16838044/141514536-2f1ae02f-1e1b-43c0-9ef2-0674068ec1d1.png)

More like 6, the clumsily brushed out parts are due to privacy issues, it shows the location of the user.

[2021-11-12 18:13] IEnjoyDrinkingGoodWater commented on #63
Ok, names used: IThinkIAmCool (was claimed at one point by someone else), ThinksHeIsCool, ExtremelyCool, IMayKnow. They were used in now deleted accounts. Some were created in Romania, and some were created in the US.

[2021-11-12 18:14] IEnjoyDrinkingGoodWater commented on #63
@okiehsch could you verify which comments the deleted accounts were?

[2021-11-12 18:15] okiehsch commented on #63
No, I don't have access to IP logs.

[2021-11-12 18:15] IEnjoyDrinkingGoodWater commented on #63
I lost the password of the ExtremelyCool Github account and the password of the email for it.

[2021-11-12 18:15] uBlock-user commented on #63
Well, you certainly topped off `felix-22` who is a known ban-evader in Polish and uBO repository(aka kulfoon, yes we know) and has been warned off twice not to go off-topic by picking fights in uBO repository when somebody downvotes his comments.

[2021-11-12 18:16] iam-py-test commented on #63
Why so many accounts?
The only reason I know of for having more than one account is separating work/home or having a bot

[2021-11-12 18:16] IEnjoyDrinkingGoodWater commented on #63
@okiehsch Sorry, I meant to say can you see what comments were deleted - like, their content.

[2021-11-12 18:17] iam-py-test commented on #63
No

[2021-11-12 18:17] okiehsch commented on #63
No.

[2021-11-12 18:18] iam-py-test commented on #63
Test

[2021-11-12 18:18] DandelionSprout commented on #63
It was news to me that those were the same guy. I blocked that guy for good reason, and will do so again.

[2021-11-12 18:19] IEnjoyDrinkingGoodWater commented on #63
I may have deleted one poorly-formulated comment that I didn't replace. The rest were probably immediately replaced with new ones.

[2021-11-12 18:20] IEnjoyDrinkingGoodWater commented on #63
I wanted to contribute to ad blocking or stuff like that after having deleted an account, and yeah...

[2021-11-12 18:21] iam-py-test commented on #63
But 5...

[2021-11-12 18:21] IEnjoyDrinkingGoodWater commented on #63
@okiehsch So, can you see the location of issues, PRs ?

[2021-11-12 18:21] IEnjoyDrinkingGoodWater commented on #63
I know it sounds weird =))).

[2021-11-12 18:21] iam-py-test commented on #63
?
No, @okiehsch can't see where they were created

[2021-11-12 18:21] okiehsch commented on #63
Next time strike through or edit a poorly formulated comment, it's the proper way to handle such issues.
God knows I have had my fair share of poorly worded comments.

[2021-11-12 18:22] okiehsch commented on #63
I can see the country of origin. Mind you if one uses a VPN I see whatever he/she configured.

[2021-11-12 18:22] iam-py-test commented on #63
That alone is suspicious.

God knows I have had my fair share of poorly worded comments.

Yep, I agree. :)

[2021-11-12 18:22] iam-py-test commented on #63
Oh...
How?

[2021-11-12 18:23] IEnjoyDrinkingGoodWater commented on #63
I literally moved back in the US in August.

[2021-11-12 18:23] okiehsch commented on #63
Sorry, poorly formulated I obviously meant I can't see whatever he/she configured.

[2021-11-12 18:25] IEnjoyDrinkingGoodWater commented on #63
I never actually understood what happened between uBlock-user and kufloon or whatever their name was...

[2021-11-12 18:26] IEnjoyDrinkingGoodWater commented on #63
Also, @okiehsch I deleted a comment that I said I would've deleted.
@uBlock-user did you see that comment?

[2021-11-12 18:27] iam-py-test commented on #63
Wait, the account `@kulfoon`?

[2021-11-12 18:27] IEnjoyDrinkingGoodWater commented on #63
How would I know of Romania about deleted accounts?

[2021-11-12 18:28] okiehsch commented on #63
I did not ban you because you deleted comments. I banned you because of all the things mentioned being done by a newly created account in the first issue he contributed.

[2021-11-12 18:28] okiehsch commented on #63
You lost me. What are you trying to say?

[2021-11-12 18:28] IEnjoyDrinkingGoodWater commented on #63
sorry. I just don't wanna get sued for using a blocker on a site.

[2021-11-12 18:29] IEnjoyDrinkingGoodWater commented on #63
That if it wasn't me who created those accounts / PRs / issues, how would I know of the country they were opened from.

[2021-11-12 18:31] okiehsch commented on #63
All deleted accounts are "ghost" accounts to github. I can't check for a deleted account I don't think.
@gwarser do you know?

[2021-11-12 18:32] okiehsch commented on #63
I can assure you you won't get sued for using an adblocker.

[2021-11-12 18:32] IEnjoyDrinkingGoodWater commented on #63
actually I'm confused

did kulfoon open https://github.com/reek/anti-adblock-killer/issues/4451

[2021-11-12 18:33] IEnjoyDrinkingGoodWater commented on #63
what about an anti adb defuser?

[2021-11-12 18:33] IEnjoyDrinkingGoodWater commented on #63
actually I'm confused

did kulfoon open https://github.com/reek/anti-adblock-killer/issues/4451 ?

[2021-11-12 18:34] okiehsch commented on #63
Not for using it.

[2021-11-12 18:35] IEnjoyDrinkingGoodWater commented on #63
does mapx have any opinion about what happened?

[2021-11-12 18:40] IEnjoyDrinkingGoodWater commented on #63
https://github.com/uBlockOrigin/uAssets/pull/9665 - this was opened in Romania, for example. Could you check?

[2021-11-12 18:55] gwarser commented on #63
Ca be checked by date and type https://github.com/organizations/uBlockOrigin/settings/audit-log?q=created%3A2021-07-29+action%3Apull_request.create+

[2021-11-12 19:01] IEnjoyDrinkingGoodWater commented on #63
@gwarser did you take a look at https://github.com/uBlockOrigin/uAssets/pull/9665/commits/70375ad8a67d55fda31933092bb72db6f36d59f7 ?

[2021-11-12 19:05] okiehsch commented on #63
Fine, I believe that you are a new account of `thinksheiscool`.
If the same behaviour happened with that  account I would have not banned you,

[2021-11-12 19:05] uBlock-user commented on #63
@DandelionSprout Won't last long as he creates new account once he gets banned and will start his GitHub life as a brand new contributor to your repository only to be discovered ban-evading again.

[2021-11-12 20:36] iam-py-test commented on #63
Another instance of emote-reacting to themself

[2021-11-12 20:45] iam-py-test commented on #63
I don't think so?

[2021-11-12 20:47] gwarser commented on #63
Hey, he was not that annoying this time. I will say 50/50. I will not ban him this time. But maybe his next incarnation will be even more bearable :)

[2021-11-12 20:48] iam-py-test commented on #63
Can you un-ban them from @ublockorigin

[2021-11-12 20:49] gwarser commented on #63
He will be back behind new mask - maybe people will not notice this time :)

[2021-11-12 21:09] uBlock-user commented on #63
Somewhat tolerable, still old habits and his old personality hasn't died yet :)

[2021-11-12 21:14] uBlock-user commented on #63
@gwarser Speaking of less annoying, there he goes again...so a whiner and a moaner.

[2021-11-13 02:04] Yuki2718 commented on #63
@IEnjoyDrinkingGoodWater I'd simply ask: do not delete account any more but if you're really forced to do so say "I'm IEnjoyDrinkingGoodWater." at the very first contribution on the new account. Moreover, and importantly, try not to waste our time for discussion for your personal concern or interest. Ask such thing here or in other place, not in uBO repo.

[2021-11-13 02:18] IEnjoyDrinkingGoodWater commented on #63
![image](https://user-images.githubusercontent.com/94134264/141602218-1cb70b5f-4437-4a56-9d0c-c7d6c3fb47f6.png)

[2021-11-13 02:22] Yuki2718 commented on #63
Chrome store has always been like this and some of them were malware. It's bad joke the big G insisits on security by Manifest V3.

[2021-11-13 03:05] iam-py-test commented on #63
Already informed the team about the top one. I am investigating into them, however, there really is little we can do except _report abuse_.

[2021-11-13 12:37] THEtomaso commented on #63
I don't see the Install buttons at that site anymore.
Do they require you to be logged in now, or have all Chromium-variants, except Google Chrome, been excluded?
Of course, there's also a chance that it has alway been like this, but I simply haven't noticed before. :)
Anyway, the CRX Extractor/Downloader extension (which I'm using in Chromium-ungoogled) is still able to grab the CRX files just fi

[2021-11-13 12:39] iam-py-test commented on #63
Probably the latter. Sounds like G00gle

[2021-11-13 12:39] THEtomaso commented on #63
Excluded browsers?

[2021-11-13 12:41] iam-py-test commented on #63
Sounds like Google, always pushing Chrome

[2021-11-13 12:47] THEtomaso commented on #63
A quick web-search identifies it as malware!

[2021-11-13 12:48] iam-py-test commented on #63
Ah, thanks!

[2021-11-13 12:48] THEtomaso commented on #63
`https://malwareguide112.com/blog/remove-wave-browser#What_is_Wave_Browser`

[2021-11-13 12:51] iam-py-test commented on #63
Thanks!

[2021-11-13 12:55] THEtomaso commented on #63
`it 'recommends' I download a known PUP to 'remove' Wave Browser`

That's typical for such sites.

How to remove Wave browser from my computer (step-by-step guide):
`https://howtoremove.guide/wave-browser-malware/`
(Never mind the recommended software download)

[2021-11-13 12:57] iam-py-test commented on #63
Well, thanks anyway. I'm going to add it to my blocklists
@DandelionSprout

[2021-11-13 13:37] THEtomaso commented on #63
Medicine, for the two sites that I linked to:
[code]

[2021-11-13 14:09] iam-py-test commented on #63
Thanks, but I am just going to block them entirely.

[2021-11-13 14:37] THEtomaso commented on #63
Despite the ads, those sites DOES contain potantially useful info, regarding malware removal.

[2021-11-13 14:45] iam-py-test commented on #63
Removed the block.
It is sad that sites with legit content chose to sell themselves to these scammers

[2021-11-13 14:48] THEtomaso commented on #63
Yeah, I agree.
Although it's obvious for most people that they are ads, someone might actually mistake them for being part of the malware removal instructions.
Kind of a semi-scam, you might say.

[2021-11-13 14:59] iam-py-test commented on #63
Well, the problem is that (to me anyway) that they were supposed to look like they were part of the page

[2021-11-13 15:02] THEtomaso commented on #63
That was my point too.

[2021-11-13 15:10] THEtomaso commented on #63
One more, for good measure:
`howtoremove.guide##.row:has-text(OFFER)`
..like demonstrated here:
`https://howtoremove.guide/flexinterval-mac/`

Someone should be able to come up with better rules than me though.

[2021-11-13 15:13] iam-py-test commented on #63
Your rules seem ok, but I will look into this late today

[2021-11-13 15:20] THEtomaso commented on #63
From what I've been told, `-abp-` and `:has-text` rules are slightly more resource-demanding than other rules.
I simply make them because it's within my limited skill set. :)

[2021-11-13 16:08] Yuki2718 commented on #63
There won't be measurable CPU cycle as long as the number of the first nodes to be evaluated is low and only met if procedural filter is really needed. Here `##.row`  is just 2 hits on the page and not always seen on the site so it's fine. Either of `##.row.col_1`, `###top_bhnewage`, or `###content > .row` reduces the count to 1 but this is really a matter of preference and should rather be determ

[2021-11-13 16:38] iam-py-test commented on #63
The only problem with `:has-text` is that it is language specific

[2021-11-13 16:42] THEtomaso commented on #63
Yeah, I use a few :has-text rules for places like YouTube, where I've created double sets of rules, to cover both English and Norwegian (which is my native language).

[2021-11-13 16:46] iam-py-test commented on #63
**PSA:**
If you are using VirtualBox, you _might_ want to downgrade to version 6.1.26, as the latest version breaks _everything_
More data: https://forums.virtualbox.org/viewtopic.php?t=104228

[2021-11-13 17:11] THEtomaso commented on #63
This extension (which I actually had bookmarked already) restores it:
`https://github.com/NeverDecaf/chromium-web-store/releases/`
..if anyone here needs it.

[2021-11-13 17:26] iam-py-test commented on #63
I was able to install it in MS edge on a fresh VM

[2021-11-13 17:30] THEtomaso commented on #63
Personally, I prefer this one though:
`https://chrome.google.com/webstore/detail/crx-extractordownloader/ajkhmmldknmfjnmeedkbkkojgobmljda/`

[2021-11-13 17:36] THEtomaso commented on #63
How many browser do you have installed? :)

[2021-11-13 17:49] iam-py-test commented on #63
I use a VM and a VPN so if it destroys it I can just reset. I do have three browsers installed on my host machine

[2021-11-13 17:54] THEtomaso commented on #63
Check out this one, for your Chromium needs:
`https://github.com/macchrome/winchrome/releases/`
I have no idea why people would use shitty Google Chrome, when such alternatives exist!

[2021-11-13 18:04] THEtomaso commented on #63
Three here as well (not counting IE, which I've blocked, and only use for managing my bookmarks):
* Basilisk
* Chromium [macchrome's ungoogled build]
* Pale Moon (primary)

[2021-11-13 18:15] iam-py-test commented on #63
I only use Chrome for one thing which requires a Google account, and for everything else I use Firefox. Still, thanks for the advice
Do you know if Ungoogled-Chromium has fixed some of the issues - like lack of on-startup blocking - which make uBo in Chrome less powerful.

[2021-11-13 18:20] THEtomaso commented on #63
You can fix that in uBO:
Settings > Advanced settings > suspendTabsUntilReady = yes

[2021-11-13 18:22] uBlock-user commented on #63
Setting is `experimental` due to race condition on startup.

[2021-11-13 18:24] THEtomaso commented on #63
It has been "experimental" for years.
Works for me.

[2021-11-13 18:25] iam-py-test commented on #63
Thanks, but I just have chosen to avoid Chrome anyway

[2021-11-13 18:29] DandelionSprout commented on #63
Okay, so I took a day off from this thread to focus on FilterListsCOM, Sims 3, and house cleaning, and I come back to a backlog of 102 messages. 😅

[2021-11-13 18:38] iam-py-test commented on #63
I think that's what we all feel like.

[2021-11-13 18:40] DandelionSprout commented on #63
https://github.com/collinbarrett/FilterLists/pull/2664 (which took at least 1½ hours).

[2021-11-13 18:44] iam-py-test commented on #63
Wow! At one time, I wanted to install every (non-malware) browser but my computer doesn't have the space to.

[2021-11-13 18:59] THEtomaso commented on #63
After checking my bookmarks right now, I see that I've bookmarked 113 different browsers, over the years! :)

[2021-11-14 00:36] IEnjoyDrinkingGoodWater commented on #63
@uBlock-user
![image](https://user-images.githubusercontent.com/94134264/141663178-0bbcdbdf-a772-49c0-84f0-bf7b91f06867.png)

[2021-11-14 00:58] IEnjoyDrinkingGoodWater commented on #63
![image](https://user-images.githubusercontent.com/94134264/141663521-eaf00a55-6c2c-4648-9aed-2d2e28c20969.png)

[2021-11-14 00:59] krystian3w commented on #63
If you have uBo stable use first, if you use uBo dev and you like manual write use second, third is for only addon and both can't be hidden on that list as long MS don't add this in "API" for yml files.

Url-s with reddirection to reddit/ublock-issue was added 4 months ago.

[2021-11-14 07:19] nkoc6a15 opened #342 "$removeparam=ei causes the video in google drive cant play"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

Here is the rule to fix that: @@||google.*/videoplayback$removeparam=ei,~xmlhttprequest. Can you update it into your filter?

### Which adblocker(s) did you use when testing this?

uBlock Origin

### Adblocker version(s)

1.38.6

### Which filterlists did you use? Failing to tell this will t

[2021-11-14 08:12] DandelionSprout commented on #342
Sure thing. Give me 5min.

[2021-11-14 08:14] #342 closed

[2021-11-14 09:53] gwarser commented on #63
@DandelionSprout are syntax and software OK in https://filterlists.com/lists/adguard-url-tracking-filter ?

[2021-11-14 10:06] uBlock-user commented on #63
@IEnjoyDrinkingGoodWater ???

[2021-11-14 10:54] gwarser commented on #63
Probably about duplicated templates.

[2021-11-14 18:02] DandelionSprout commented on #63
Support for `$removeparam` has increased sharply since that list was first indexed. I'll most likely need to make a new syntax option called `"$removeparam" only` that'd be shown as supporting AdGuard, uBO, and nothing else.
—————————————

Regarding the uBO issue report stuff, I've used the support panel option once or twice, by copying the list/config text from the Support tab and filling out the

[2021-11-14 22:22] iam-py-test commented on #63
By the way @DandelionSprout, I believe https://github.com/Zelo72/rpi uses your antimalware list

[2021-11-14 22:24] krystian3w commented on #63
Have credits so what is bad?

[2021-11-14 23:12] iam-py-test commented on #63
Nothing is bad. Just that Imre has a section in the README for people using his lists

[2021-11-14 23:47] IEnjoyDrinkingGoodWater commented on #63
I was confused I guess.

[2021-11-15 07:35] ameshkov opened #347 "Blocking custom cursors may break functionality"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

Currently, you block custom cursors using this rule:
`.cur|$image` (Dandelion Sprout's Annoyances List)

For example, you're blocking standard Google Maps cursors like this one:
https://maps.gstatic.com/mapfiles/openhand_8_8.cur

It kind of hurts the functionality since it's unclear when you

[2021-11-15 11:42] DandelionSprout commented on #347
I have occasionally been thinking about whitelisting Google Maps in that list, but was worried it could potentially be interpreted by super-hardcore security enthusiasts as that I was caving in to Google.

Though since I personally feel it should be whitelisted, I'll indeed do so now.

[2021-11-15 11:44] #347 closed

[2021-11-15 15:34] shenzhiming88 commented on #264
I want to join and help maintain the `Actually Legitimate URL Shortener Tool`.
I think this project is very good, but it may not be localized enough for China. Therefore, I have submitted more than twenty PRs over time to maintain the `Actually Legitimate URL Shortener Tool`. (See https://github.com/DandelionSprout/adfilt/pulls?q=is%3Apr+author% 3Ashenzhiming88+is%3Aclosed+ )
I don't know much abo

[2021-11-15 20:59] iam-py-test commented on #264
@DandelionSprout any thoughts?

Sadly, there is no way to only grant you access to that list. That would be a nice feature though :)
You do seem to have a track record of contributing to the adblocking community.
One way you can contribute is to help with the translations on Crowdin.

(I can't add you as a contributor, only the owner can)

[2021-11-15 21:06] iam-py-test commented on #63
Either I misunderstood what the ClearURLs list does or there is an issue with Filterlists.com:
![image](https://user-images.githubusercontent.com/84232764/141853739-bcc76674-9cfe-4959-aa30-36772584de03.png)
@collinbarrett

[2021-11-15 21:11] collinbarrett commented on #63
@iam-py-test , I'm not sure I understand the issue. what is the expected behavior of filterlists.com that we're not seeing? if you think there is a bug, feel free to open an Issue in the FilterLists repo. thanks!

[2021-11-15 21:11] iam-py-test commented on #63
Ok, maybe I shouldn't have CCed you. Sorry.

[2021-11-15 21:39] gwarser commented on #63
@iam-py-test I think @DandelionSprout mixed descriptions in latest update ;)

[2021-11-15 21:43] gwarser commented on #63
Here: https://github.com/collinbarrett/FilterLists/pull/2664/files#diff-819798ff1d2b0a930c219ef2b83e804240558aacb063935405b75a38be592403R17102

[2021-11-15 21:45] iam-py-test commented on #63
Ah, thanks. I'll try to open a PR when I have time

[2021-11-15 22:38] iam-py-test commented on #63
Malware domain with fake 'cracked' versions of software:
![image](https://user-images.githubusercontent.com/84232764/141863795-3de345e6-e816-4e87-ab12-1706dd6fc300.png)
IOCs: https://github.com/iam-py-test/investigations/blob/main/2021/11/15/1.md#iocs

[2021-11-16 11:19] DandelionSprout commented on #63
22 lists across 7 files are ***a lot*** to try to keep track of, to my defence.

[2021-11-16 11:25] DandelionSprout commented on #63
Although come to think of it, it doesn't seem like *ClearURLs for uBo* even has a description on Adfilt at the moment. Give me 5min to add one.

[2021-11-16 11:34] iam-py-test commented on #63
Let me do that...

[2021-11-16 11:41] iam-py-test commented on #63
I'm assuming #352 was ok as you merged it immediately.

[2021-11-16 12:00] iam-py-test commented on #63
I do have a question; who did you want to set the maintainer as?
It says you are the maintainer in `filterlists.json`, but it says something different on the website

[2021-11-16 12:19] DandelionSprout commented on #63
I intended to set you as the lead maintainer, as per https://github.com/collinbarrett/FilterLists/blob/master/services/Directory/data/FilterListMaintainer.json

[2021-11-16 12:28] iam-py-test commented on #63
Well, then I need to correct `filterlists.json`

[2021-11-16 14:34] shenzhiming88 commented on #264
Okay, if you need another collaborator at that time, you can come back to me. In this case now, I will submit PRs from time to time.

[2021-11-17 11:40] iam-py-test commented on #63
@Yuki2718 cryptocurrency scam:
![image](https://user-images.githubusercontent.com/84232764/142194021-a8328dd5-241e-4de6-bc91-6022706f1763.png)
Domain: `shib-inu[.]cc`
Credit: https://www.virustotal.com/gui/url/ce69462e263f0907114076f070cad653d2c944dda105793aed2115eeab5c82a3/community

[2021-11-17 11:59] iam-py-test commented on #63
Second scam website:
![image](https://user-images.githubusercontent.com/84232764/142195960-854e88c0-6a17-4ffc-b19e-8955a5c458da.png)
I clicked on their chat widget all someone (or a bot) responded with this:
[code]
It said they'd 'get back later' so I just spammed the chat
Domain: `ether-give21.net`
Address: `0xB7563cc3D1300a48962656C6523413cB7fD830c2`
Credit: https://www.virustotal.com/gui/url/8f

[2021-11-17 15:11] DandelionSprout commented on #63
For simplicity's sake, I think I'll hereby allow you (@iam-py-test) to add new entries to Anti-Malware List on your own accord. 👏

[2021-11-17 22:32] krystian3w commented on #63
Anybody tested these "circled" border on wiki:

[code]

<div type='discussions-op-text'>Jummy<br><br>
<div type='discussions-op-text'>Jummy</div>
</div>

[2021-11-19 14:41] brknkfr opened #361 "Remove r3.o.lencr.org"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

The domain lencr.org belongs to Letsencrypt and is used for OCSP verification, see https://letsencrypt.org/docs/lencr.org/.

The problem arised in the letsencrypt forums aswell: https://community.letsencrypt.org/t/r3-o-lencr-org-is-seen-as-malware/153205

There was probably once a malware wi

[2021-11-19 15:06] #361 closed

[2021-11-20 02:04] iam-py-test commented on #361
I think this was my fault.
I get these by looking at raw network logs, so it’s my fault for not verifying my domains

[2021-11-21 11:50] iam-py-test commented on #63
Fake CAPTCHA/antivirus alert scam distrusted as fake 'cracked' WinRAR:
![image](https://user-images.githubusercontent.com/84232764/142760599-87b16f13-4d4b-4b6d-b436-24be983326c7.png)
More info & IOCs: https://github.com/iam-py-test/investigations/blob/main/2021/11/21/1.md#domains

[2021-11-21 16:35] iam-py-test commented on #63
Why only add that one domain? `yasir252.com` is the starting point and also a scam

[2021-11-21 17:22] krystian3w commented on #63
Because this is wordpress bug on CMS/Plugins or on server side, then better implement wildcard or regex to block malformed files on server instead all blog if then have active redactor/webmaster and reply "we try cure this bug in own wordpress implementation".

[2021-11-21 17:23] iam-py-test commented on #63
How do you know that?

[2021-11-21 17:27] krystian3w commented on #63
Webmaster very poor hide what CMS used on page.

[2021-11-21 17:28] iam-py-test commented on #63
Your saying the site is hacked...

[2021-11-21 19:59] THEtomaso commented on #63
@DandelionSprout:

### Issue:
Yet another YouTube annoyance, freshly puked up, out of Google's think tank!

### Example:
`https://www.youtube.com/watch?v=kIufLA7Bx2Q`

![youtube-annoyance_rs](https://user-images.githubusercontent.com/9382674/142776983-bd7b9aa1-5daf-45eb-ba4a-db996d2d9726.jpg)

### Possible Fix:
`youtube.com##.ytp-heat-map-container`

[2021-11-21 20:08] krystian3w commented on #63
SCAM from e-mails:

[code]

[2021-11-22 02:44] iam-py-test commented on #63
I’ll look into this tomorrow. Thanks

[2021-11-22 05:34] rubaboo opened #374 ""Legitimate URL Shortener" vs "ClearURLs for uBo""
What is the difference? Do you recommend adding both to uBO?

[2021-11-22 07:24] DandelionSprout commented on #374
It's complicated. The former is made pretty much entirely from scratch, whereas the latter is a (mostly) direct conversion of the filters used by the ClearURLs extension.

From what I can tell, and have heard of from other users, it is feasible to use both lists at the same time.

[2021-11-22 17:06] THEtomaso commented on #63
Speaking of YouTube annoyances; there's another one that I've been trying to get rid of..
The miniplayer, which continues to play, whenever you leave a playlist!

How to reproduce:
1 - Play this: `https://www.youtube.com/watch?v=WtIXTg1zEjc&list=PLqchHS3onC2kXBI-plkvg59i_gDk7o0CB`
2 - Click on the YouTube logo, in the top left corner, to navigate back to the front page.
Result: Playback continues,

[2021-11-22 19:33] DandelionSprout commented on #63
I must admit that my YouTube lists have been merely a low priority in the past 2 months, as I've had to prioritise 20 other lists instead. 😅

I'm having some problems reproducing this, sadly; so it doesn't seem to be auto-enabled for everyone for the immediate time being.

That is intentional, since my list aims to strongly discourage people from using YouTube's somewhat chaotic stock homepage, as

[2021-11-22 19:34] iam-py-test commented on #63
Thanks @krystian3w
<details>
<summary>Warning: NSFW</summary>
It asks for bank details 'but won't charge anything'. I wasn't able to get past that bank details as it rejected my fake number
Domains: <a href="https://github.com/DandelionSprout/adfilt/files/7583814/log_domains.txt">Domains</a> <br>
Full log: <a href="https://github.com/DandelionSprout/adfilt/files/7583812/log.txt">Full log</a>

<det

[2021-11-22 20:05] THEtomaso commented on #63
No worries, I bet it will show up for everyone, soon enough.

--

Yeah, I noticed that it was intentional afterwards, when troubleshooting it.
Seems kinda pontless to me, TBH.
I think a lot of people that actually use an annoyance filter for YouTube, doesn't want to log in, and doesn't give a rat's ass about subscriptions (at least I don't)!

--

No point then, but thanks for trying. :)

[2021-11-22 20:07] iam-py-test commented on #63
Maybe there is a _aopr_ or _aeld_ which can help?

[2021-11-22 20:08] THEtomaso commented on #63
I tried that, but wasn't able to come up with a working one.
I'm not very good at hitting the target with such rules though.

[2021-11-22 20:09] iam-py-test commented on #63
Wish there was a `pause-video` scriptlet...

[2021-11-22 20:15] THEtomaso commented on #63
Usually, there's a redirector, which sends you to such pages (revealed by long-pressing the browser's Back arrow).
..but I assume that you've got those covered too?

[2021-11-22 20:17] iam-py-test commented on #63
I don't understand. I logged all the network requests so it should catch that.

[2021-11-22 20:22] THEtomaso commented on #63
Just wondering, since such redirector URLs often are auto-generated/registered, like `dgsdfgfdkerj.com` (not an actual example), and I haven't seen you post anything that resembles such addresses.

[2021-11-22 20:23] iam-py-test commented on #63
I have seen some like that.

[2021-11-22 20:30] THEtomaso commented on #63
Well, I blocked this, but what type of URL is it!?:

![ublockorigin-filtering-wtf](https://user-images.githubusercontent.com/9382674/142930803-a1e339e4-279b-44b5-b816-fd1a0fea533f.jpg)

[2021-11-22 20:31] iam-py-test commented on #63
That isn't a valid url...
Probably someone made a typo

[2021-11-22 20:35] THEtomaso commented on #63
I was contemplating that, but was uncertain as to whether or not invalid URLs would actually show up in uBO's logger! :)

[2021-11-22 20:36] iam-py-test commented on #63
I guess they do :)

[2021-11-22 20:49] THEtomaso commented on #63
BTW; is uBO v1.39.0 stable or not?
It has the "Pre-release" label.

[2021-11-22 20:58] gwarser commented on #63
https://en.wikipedia.org/wiki/Fully_qualified_domain_name

https://github.com/uBlockOrigin/uAssets/issues/7619`

[2021-11-22 21:39] iam-py-test commented on #63
Still `https://hm` isn't valid

[2021-11-22 23:27] krystian3w commented on #63
These works in Poland + T-Mobile:

<div align="center">

</div>

But what TLD has page?

[code]

Number was generated by inpost ID to track "post pack".

[2021-11-22 23:31] iam-py-test commented on #63
I get the same:
![image](https://user-images.githubusercontent.com/84232764/142950270-656cc42d-8bb9-4e42-bbd4-a9851e95137a.png)
Funny, I thought no TLD was invalid (except localhost)

[2021-11-22 23:32] krystian3w commented on #63
So maybe Firefox generate itself random TLD based on numbers?

[2021-11-22 23:36] gwarser commented on #63
Some time ago `to.` was valid page selling domains in this TLD. Then they changed to `www.to`

[2021-11-22 23:38] THEtomaso commented on #63
`.net` is seems.

[2021-11-22 23:45] krystian3w commented on #63
On few pages with `Public Suffix "Dot" /` I see bugs with load images/css/js.

[2021-11-22 23:51] iam-py-test commented on #63
I wonder if adding . could evade blocking

[2021-11-23 00:12] krystian3w commented on #63
Nope for simple network ABP/EasyList filter:

[code]

No tested in regex:

`/^http:\/\/00ckpr.cn\//$all` - may no math `.cn./` by tries found `.cn/`

No tested in version:

`||00ckpr.cn|$all` / `||00ckpr.cn|$document` - to block only homepage.

[2021-11-23 00:23] krystian3w commented on #63
Also hosts may too need duplicate by:

[code]

but no checked specifiactions for this - IMO the best ask in `StevenBlack/hosts` repo, then GNU/Linux users maybe generate error log based on `systemd`.

[2021-11-23 06:45] Minasti7 opened #376 "Your filter it's blocking the upload test in Speedtest.net"
### Describe the problem below this line as meticulously and detailed as possible (incl. pagelinks if any)

When this filter it's activated on my firefox browser (the latest version) it just block the upload during a test in speedtest.net

### Add screenshots below if needed

![Screenshot_1115](https://user-images.githubusercontent.com/61472697/142980356-ef7196d1-3441-4df9-977c-55aac4db853d.png)
!

[2021-11-23 07:10] #376 closed

[2021-11-23 07:12] DandelionSprout commented on #376
I seem to have found the problems: AdGuard's browser extensions seem to try to apply every single `$removeparam` rule to all `wss://` requests (which I can only presume is a bug), which for some reason only cause Speedtest to break when using Firefox.

[2021-11-23 14:10] spirillen opened #378 "123mc.dk"
## Hvilke(n) regel/regler anmelder du?
``

Kommentar: Hvor i på norsk typisk bruger `j` inde i et ord, er dette for groft sagt 100 år siden skiftet på dansk til `i` som i `is`

[code]

## Hvilke ting blokerer, skjuler, eller fikser de(n)?

![image](https://user-images.githubusercontent.com/44526987/143034220-5b44a06f-e5be-459b-a745-c3776c8fcde1.png)
Og lignende

## Hvilke av mine lister sender du

[2021-11-23 15:07] spirillen opened #379 "dba.dk"
## Hvilke(n) regel/regler sender du ind?

`dba.dk##div[id="dbashopping-widget"]`

Reglen kan simplifiseres, men vælger denne noget mere præcise tilgang for at undgå problemer

## Hvilke ting blokerer, skjuler, eller fikser de(n)?
![image](https://user-images.githubusercontent.com/44526987/143048136-b969a3f4-99c9-4535-affb-f86fd501e6e5.png)

## Hvilke av mine lister sender du den/dem ind til?

## H

[2021-11-23 16:06] #379 closed

[2021-11-23 16:07] iam-py-test commented on #379
I'm not fluent in danish, so please tell me if I made an error

[2021-11-23 16:13] iam-py-test commented on #378
Sorry, but I'm confused. Is this what you are taking about:
![image](https://user-images.githubusercontent.com/84232764/143061418-5985119a-acdd-4ceb-8fd0-77489a4aa802.png)
Because I'm not sure if this is an ad...

[2021-11-23 17:48] spirillen commented on #379
You are doing it fine "DandelionSprout" :) Didn't knew you got a set of merge-keys to this repo

[2021-11-23 17:49] iam-py-test commented on #379
See https://github.com/DandelionSprout/adfilt/issues/264#issuecomment-913011956
I'm trying to help out with Nordic filters/Legit URL/DandelionSprout antimalware, so I figured I'd try to fix this issue

[2021-11-23 17:51] spirillen commented on #378
It is ads to third party site `https://www.magacin.dk/motorcykler/test/test-ktm-890-adventure-r-eventyrcykel-med-hang-til-offroad/`

The second part of the script removes these
insurance / over taxed loans (200% pa)

![image](https://user-images.githubusercontent.com/44526987/143077777-1c252a85-aaee-4399-9129-3b51c204a4ca.png)

[2021-11-23 17:52] iam-py-test commented on #378
Ah, thanks :)

[2021-11-23 18:08] spirillen commented on #379
I just never figured out where you origin from?

[2021-11-23 18:09] iam-py-test commented on #379
Not sure what you mean...

[2021-11-23 18:19] spirillen commented on #379
What is your native tung/language? german polish norsk soumi russian??

[2021-11-23 18:20] iam-py-test commented on #379
English. I live & grew up in the US.
What about you?

[2021-11-23 18:26] spirillen commented on #379
Pretty mush all native Denmark but have traveled most of europe for years so have picked some words here and there. We can walk around thirsty to i can get two beers :beers:  in most languages :laughing: and grab some food.

[2021-11-23 20:19] iam-py-test commented on #63
More scum stealing @gorhill (and all the other uBo contributor's) work - https://twitter.com/gorhill/status/1409911991154757634

[2021-11-23 23:57] DandelionSprout commented on #378
Danish may only be my 5th language, but I still know that suggestion is flatout wrong, as it thinks "link = rule", when it's supposed to be "the link of the rule". Also I'm 100.0% sure nowadays it's `funktion` in Danish, not `funksion` (and admittedly not `funksjon` either).

That one looks pretty good to me, and has been added by me to the Crowdin project now.

I'm more inclined to go with "Webbr

[2021-11-24 02:11] #378 closed

[2021-11-24 12:33] iam-py-test commented on #63
Malware pretending to be game cheats: https://github.com/iam-py-test/investigations/blob/main/2021/11/24/1.md
I checked several files from the site across several time periods and all were one out of two Trojans:
Trojan A (this one seemed to be the _pure crack_ button): https://www.virustotal.com/gui/file/fcfe688b197c526a27254b9953d7577d41c4d3cc51764880683a6f277f5e716d
Trojan B (the _crack setup_

[2021-11-24 14:09] THEtomaso commented on #63
Large ongoing mobile virus scam/attack:
`https://www.tv2.no/nyheter/14368524/`
Possible fix:
[code]

[2021-11-24 14:11] iam-py-test commented on #63
Wait, is that link the scam or something about it? Do you have screenshots?

[2021-11-24 14:15] THEtomaso commented on #63
No worries, it's the latter. :)

[2021-11-24 15:00] THEtomaso commented on #63
Another one pictured @ `https://www.tek.no/i/wOVv0o/`:
`||21steditionnaturalgh.com^$all`

[2021-11-24 15:06] iam-py-test commented on #63
Thanks! Both have been addressed

[2021-11-24 15:08] THEtomaso commented on #63
They're both related to the same ongoing attack.

[2021-11-24 15:09] iam-py-test commented on #63
Regrouped.

[2021-11-24 18:57] THEtomaso commented on #63
@DandelionSprout:

### Issue:
Blurred overlay:
`https://www.nettavisen.no/5-15-1324861/`

### Possible fix:
For your de-blurrer section, perhaps?:
[code]

### Note:
The above fix leaves the subscription box, to avoid potential confusion.

[2021-11-24 22:58] krystian3w commented on #63
Why not:

`nettavisen.no##.aid-background-blur:style(filter: none !important;)`

https://caniuse.com/?search=filter

Chrome 53 was released in 2016; Firefox 35 in 2015 also Safari 9.1 in 2016.

[2021-11-25 15:04] iam-py-test commented on #63
New scam website:
![image](https://user-images.githubusercontent.com/84232764/143464366-e4110846-9011-40e3-ab92-8bc046056d2e.png)
![image](https://user-images.githubusercontent.com/84232764/143464310-db550013-2bbb-42f5-bced-29a3f1e0ef15.png)
Domains (searched for FPs): https://github.com/iam-py-test/investigations/blob/main/2021/11/25/1.md#domains

[2021-11-26 02:28] DandelionSprout commented on #63
So far I've got these entries that I'll be testing over the next week (as I sporadically check `nidaros.no` headlines), or possibly add to Annoyances List as an interim approach:
[code]

Considering `Amedia` owns circa 90 newssites by now, they're kind-of a nightmare to write `:style` and `:-abp-` entries for.

Under normal circumstances, the elements have pre-existing `--webkit-filter:` CSS value